.purchase-main {
  padding: 0 0 10px;
  width: 100%;
  max-width: 1440px;

  .text__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    margin: 40px 0;
    color: rgba(255, 255, 255, 0.9);
  }

  .purchase-type-nav {
    width: 453px;
    height: 52px;
    margin-bottom: 24px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: start;

    .nav-item {
      width: 180px;
      height: 40px;
      margin-top: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.6);
    }
    .nav-active-item {
      border-bottom: 2px solid #73d5f4;
      font-weight: 600;
      color: #fff;
    }
  }
}
.custom-gradient-2 {
  background-image: linear-gradient(
    50deg,
    transparent 80%,
    rgb(251, 249, 248, 0.4) 95%
  );
}
