.dashboard-wrapper {
  > h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
  }

  .dashboard-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;

    .content-item {
      flex-shrink: 0;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      background: rgba(128, 128, 128, 0.15);
      background-blend-mode: luminosity;
      backdrop-filter: blur(50px);
      border-radius: 16px;

      > .title {
        display: flex;
        align-items: center;

        > span {
          flex: 1;
        }

        .extra {
          display: flex;
          align-items: center;
          gap: 4px;
          color: #ffffff;
          cursor: pointer;

          span {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #ffffff;
          }

          i {
            font-size: 14px;
            color: #ffffff;
          }
        }
      }

      .content {
        flex: 1;
        border-radius: 8px;
        overflow: auto;

        .table {
          :global {
            .ant-table {
              padding: 0;
              border-radius: 16px;

              .ant-table-container {
                table {
                  .ant-table-thead {
                    border-radius: 16px 16px 0 0;
                    overflow: hidden;

                    tr {
                      border-radius: 16px 16px 0 0;

                      th {
                        height: 36px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 20px;
                        color: rgba(255, 255, 255, 0.6);
                        padding: 0 16px;
                        background-color: #323234;
                        border: none;

                        &::before {
                          background-color: transparent;
                        }

                        &:first-child {
                          border-radius: 16px 0 0 0;
                        }

                        &:last-child {
                          border-radius: 0 16px 0 0;
                        }
                      }
                    }
                  }

                  .ant-table-tbody {
                    tr {
                      td {
                        border: none;
                        padding: 0 16px;
                        height: 70px;
                      }

                      &:hover {
                        td {
                          background-color: #212123;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .name-column {
            display: inline-flex;
            align-items: center;
            gap: 10px;

            .icon {
              width: 40px;
              height: 40px;
              background: rgba(255, 255, 255, 0.1);
              border-radius: 8px;
              display: inline-flex;
              align-items: center;
              justify-content: center;

              i {
                font-size: 15px;
              }
            }
          }

          .info {
            display: inline-flex;
            flex-direction: column;

            .name {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              color: #ffffff;
            }

            .value {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              color: rgba(255, 255, 255, 0.4);
            }

            .up {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              color: #ee385c;
            }

            .down {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              color: #00e195;
            }
          }

          .action {
            display: inline-flex;
            align-items: center;
            color: #73d5f4;
            gap: 9px;

            span {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
            }

            i {
              font-size: 8px;
            }
          }
        }
      }
    }

    .balance-wrapper {
      width: calc(~'68% - 10px');
      height: 412px;

      .content {
        overflow: hidden;
      }
    }

    .news-wrapper {
      width: calc(~'32% - 10px');
      height: 412px;

      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: auto;

        .news-item {
          display: flex;
          align-items: center;
          gap: 16px;
          padding: 0px 8px;
          height: 90px;

          background: #1a1b1d;
          background-blend-mode: luminosity;
          border-radius: 8px;

          /* Inside auto layout */
          flex: none;
          order: 0;
          flex-grow: 0;

          .pic {
            width: 74px;
            height: 74px;
            flex-shrink: 0;

            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }

          .info {
            .title {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
              color: #ffffff;
            }

            .desc {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 20px;
              color: rgba(255, 255, 255, 0.4);
            }

            .more {
              display: flex;
              align-items: center;
              gap: 6px;
              color: #73d5f4;
              margin-top: 4px;

              span {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
              }

              i {
                font-size: 7px;
              }
            }
          }
        }
      }
    }

    .recommend-wrapper {
      width: calc(~'46% - 10px');
      height: 458px;
    }

    .collect-wrapper {
      width: calc(~'54% - 10px');
      height: 458px;
    }

    .sales-wrapper {
      width: calc(~'57% - 10px');
      height: 458px;
    }

    .state-wrapper {
      width: calc(~'43% - 10px');
      height: 458px;

      .content {
        .chart-wrapper {
        }

        .progress-wrapper {
          margin-top: 11px;
          height: 48px;

          .title,
          .range {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 9.96195px;
            line-height: 15px;
            letter-spacing: 0.00259011px;
            color: rgba(255, 255, 255, 0.64);
          }
        }
      }
    }

    .sales-pipeline-wrapper {
      width: calc(~'57% - 10px');
      height: 319px;

      .content {
        display: flex;
        align-items: center;

        .chart-wrapper {
          width: 42%;
          flex-shrink: 0;
        }

        .info {
          flex: 1;

          .info-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 42px;
            border-bottom: 1px solid #3f3f41;

            .name {
              display: flex;
              align-items: center;
              gap: 6px;
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 13.9467px;
              line-height: 21px;
              color: rgba(255, 255, 255, 0.8);

              &::before {
                content: '';
                flex-shrink: 0;
                width: 7.97px;
                height: 7.97px;
                background: var(--color);
                border-radius: 2.98859px;
              }
            }

            .value {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 13.9467px;
              line-height: 21px;
              color: rgba(255, 255, 255, 0.8);
            }
          }
        }
      }
    }

    .profit-wrapper {
      width: calc(~'43% - 10px');
      height: 319px;

      .content {
        .total-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .total-item {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .value {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 24px;
              line-height: 39px;
              color: rgba(255, 255, 255, 0.8);
            }

            .name {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
              color: rgba(255, 255, 255, 0.64);
            }
          }
        }

        .progress-wrapper {
          margin-top: 8px;

          .title {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 17.9315px;
            line-height: 27px;
            color: rgba(255, 255, 255, 0.4);
          }

          .goal {
            text-align: right;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 39px;
            color: rgba(255, 255, 255, 0.4);
          }

          :global {
            .ant-progress {
              border-radius: 40px;

              .ant-progress-outer {
                border-radius: 40px;
              }

              .ant-progress-inner {
                border-radius: 40px;
                overflow: visible;

                .ant-progress-bg {
                  border-radius: 40px 0 0 40px;
                  position: relative;

                  &::before {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    transform: translate(0, 100%);
                    display: block;
                    height: 15px;
                    width: 1px;
                    background-color: #00bbd4;
                  }

                  &::after {
                    content: var(--curVal);
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: -15px;
                    transform: translate(-50%, 100%);
                    height: 15px;
                    width: 1px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .monitor-wrapper {
      width: 100%;
      height: 756px;
    }
  }
}
