.card {
  color: white;
  background: #1f1e1e;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  background: linear-gradient(105deg, #1c1f26 0%, #0f1115 100%);
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 16px 18px;
}

.titleBlock {
  display: flex;
  align-items: center;
  gap: 16px;
  i {
    color: green;
    background: #353535;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    justify-content: center;
    font-size: 0.7rem;
  }
  .icon {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }

  .id {
    font-size: 0.7rem;
    font-weight: 600;
  }

  .gpu {
    font-size: 0.7rem;
    color: #9ca3af;
    display: flex;
    gap: 4px;
  }
  .gpu_core {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
  }
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
  .running {
    font-size: 14px;
    font-weight: 600;
    color: #f59e0b;
  }
  .starting {
    font-size: 14px;
    font-weight: 600;
    color: #ffd07d;
  }
  .offline {
    font-size: 14px;
    font-weight: 600;
    color: #c23b19;
  }
  .active {
    font-size: 14px;
    font-weight: 600;
    color: #ffb32f;
  }
  .running {
    font-size: 14px;
    font-weight: 600;
    color: #52d759;
  }
  .listed {
    font-size: 14px;
    font-weight: 600;
    color: #ffbd4c;
  }
  .infoIcon {
    color: #f59e0b;
  }
}

.rewards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;

  .rewardBlock {
    .label {
      font-size: 14px;
      color: #9ca3af;
    }

    .value {
      font-size: 22px;
      font-weight: 600;
      color: white;

      .unit {
        font-size: 16px;
        color: #6b7280;
        margin-left: 4px;
      }
    }
  }
}

.footer {
  border-top: 1px solid #3c3e42;
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .meta {
    font-size: 0.7rem;
    border-bottom: 1px solid #3c3e42;
    padding: 0 12px;
    padding-bottom: 6px;
    color: #9ca3af;
    display: flex;
    justify-content: space-between;

    b {
      color: #e5e7eb;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 6px;
    flex-wrap: wrap;
    font-size: 14px;
    gap: 8px;

    span {
      cursor: pointer;
      transition: color 0.2s;

      &:hover {
        color: #facc15;
      }
    }

    .divider {
      color: #6b7280;
    }

    .receive {
      color: #44c7ff;
      border: #44c7ff96 1px solid;
      &:hover {
        color: #2fbdff;
      }
    }

    .iconBtn {
      font-size: 16px;
      color: #fbbf24;
      cursor: pointer;
      margin-inline: 2px;
      &:hover {
        color: #f59e0b;
      }
    }
  }
}
.container {
  padding: 12px;
}
.disabled {
  color: #828283 !important;
  cursor: not-allowed;
}
.operation-action,
.receive {
  border: 1px solid #64666a;
  padding: 2px 8px;
  border-radius: 4px;
}

.starting {
  font-size: 14px;
  font-weight: 600;
  color: #ffd07d;
  display: flex;
  align-items: center;
  gap: 8px;
  animation: pulse 1.2s infinite ease-in-out;
}

.status-starting {
  color: #ebe061;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.7rem;
  animation: pulse 1.2s infinite ease-in-out;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
