.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  gap: 24px;
  padding: 24px;
}
@media screen and (max-width: 740px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 10px;
  }
}
