.loginModal {
  :global {
    .ant-modal-content {
      border: 1px solid #cccccc32;
      background: rgba(38, 38, 38, 0.697);
      border-radius: 12px;
      padding: 0;
      overflow: hidden;
      backdrop-filter: blur(4px);
    }
    .ant-modal-body {
      padding: 0;
    }
  }
}

.modalContent {
  display: flex;
  flex-direction: row;
  height: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.left {
  flex: 1;
  padding: 18px 12px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 8px;

    .glitch {
      color: #f06595;
    }
  }

  p {
    color: #888;
    margin-bottom: 24px;
  }

  .socialButtons {
    display: flex;
    gap: 12px;
    margin-block: 12px;
    .btn_icon {
      width: 90px;
      border-radius: 12px;
      background: #4c4c4c79;
      backdrop-filter: blur(4px);
      &:hover,
      &:focus {
        border-color: #ffffff8a !important;
        color: #ffffff8a !important;
      }
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    :global {
      .ant-form-item-label > label {
        color: #ccc;
      }
    }
  }

  .input-search {
    border: #8b8b8bdc 1px solid;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
    i {
      color: orange;
    }
  }
  .button_box {
    display: flex;
    justify-content: center;
    .button {
      height: 40px;
      width: 140px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: 4px;
      justify-content: center;
      padding: 4px 14px;
      background: transparent;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      text-align: center;
      border: 1px solid #ffffff8a;
      color: #fff;
      border-radius: 4px;
      text-wrap: nowrap;
      .icon {
        width: 18px;
        height: 18px;
        display: flex;
        padding: 4px;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        color: orange !important;
        border: 1px solid orange;
        border-radius: 50%;
        margin-inline: 4px;
      }
    }
  }

  .footerLinks {
    margin-top: 20px;
    text-align: center;

    a {
      color: #aaa;
      margin: 0 8px;

      &:hover {
        color: white;
      }
    }
  }
}

.right {
  width: 350px;
  background-color: black;
  position: relative;

  .closeIcon {
    position: absolute;
    top: 12px;
    right: 12px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    z-index: 2;

    &:hover {
      color: #f06595;
    }
  }

  .imageWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  opacity: 0.6;
  background: red;
}
.divider_box {
  width: 300px;
}
