.orders-component {
  margin-top: 40px;
  .header-wrapper {
    padding-bottom: 22px;
    border-bottom: 1px solid #767676;

    padding-inline: 50px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    header {
      display: flex;
      align-items: center;
      h1 {
        font-size: 2.2rem;
        color: #fff;
        font-weight: 600;
      }
    }
  }
}

.orders {
  margin-top: 40px;
  margin-inline: 50px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.card {
  padding: 4px;
  width: 100%;
  border-radius: 4px;
  background-image: linear-gradient(15deg, #242426 75%, #2e3134 95%);
  color: #444444;
}

.card-title {
  font-size: 1.2rem;
  border-bottom: 1px solid #7878784c;
  padding-bottom: 8px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    gap: 12px;
    align-items: center;
    i {
      color: rgb(41, 184, 41);
    }
    span {
      font-size: 0.9rem;
      color: rgb(41, 184, 41);
    }
  }
}

.card-product-img-container {
  i {
    font-size: 20px;
  }
}

.card-product-img {
  max-width: 100%;
}

.card-product {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-product-title {
  font-weight: 600;
  color: #fff;
  padding-bottom: 3px;
}

.text-grey {
  color: #7b7b7c;
}

.card-product-description {
  display: flex;
  flex-direction: column;
}

.card-product-price-text {
  color: #fff;
}

.table {
  margin-top: 12px;
}

.card-product-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
}

.text-blue {
  color: rgb(129, 129, 247);
  padding: 16px;
  width: 100px;
  text-align: start;
}
