.header {
  display: flex;
  align-items: center;
  padding-bottom: 1.367vw;
  border-bottom: 0.098vw solid rgba(222, 222, 222, 0.4);

  .points {
    display: flex;
    align-items: center;
    margin-right: 2.93vw;

    span {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 1.172vw;
      line-height: 1.416vw;
      text-align: center;
      color: #ffffff;
    }
  }

  .nodes {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: inline-block;
      margin-right: 0.488vw;
      background-color: #00f453;
      border-radius: 50%;
      width: 0.586vw;
      height: 0.586vw;
    }
  }

  .search {
    margin-right: 1.953vw;
  }

  .docs {
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.172vw;
    line-height: 1.416vw;
    text-align: center;
    color: #ffffff;
    margin-right: 1.953vw;
    cursor: pointer;
    gap: 0.977vw;
  }

  .connect-account {
    .connect-button {
      width: 9.229vw;
      height: 2.637vw;
      background: #dd5acc;
      border-radius: 0.488vw;
      outline: none;
      border: none;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 0.781vw;
      line-height: 0.928vw;
      text-align: center;
      letter-spacing: 0.098vw;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

.android-header {
  display: none;
}

.deploy-node {
  margin-top: 0.977vw;

  .next-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.371vw;
    background: #212223;
    border-radius: 0.651vw;
    padding: 0 1.465vw;

    .steps {
      width: 37.207vw;

      :global {
        .ant-steps {
          .ant-steps-item {
            .ant-steps-item-icon {
              border: none;
              margin: 0;
              width: 2.441vw;
              height: 2.441vw;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              background-color: #424344;

              .ant-steps-icon {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 1.172vw;
                color: #ffffff;
              }
            }

            .ant-steps-item-content {
              .ant-steps-item-title::after {
                top: 1.221vw;
                background: rgba(255, 255, 255, 0.16);
              }
            }
          }

          .ant-steps-item-finish {
            .ant-steps-item-icon {
              background-color: #dd5acc;

              .ant-steps-icon {
                color: #fff;
              }
            }

            .ant-steps-item-content {
              .ant-steps-item-title::after {
                background: #dd5acc;
              }
            }
          }

          .ant-steps-item-active {
            .ant-steps-item-icon {
              background-color: #dd5acc;
            }
          }
        }
      }
    }
  }

  .button-box,
  .android-button-box {
    display: flex;
    align-items: center;
    gap: 0.488vw;

    button {
      width: 9.229vw;
      height: 2.637vw;
      background: #dd5acc;
      border-radius: 0.488vw;
      outline: none;
      border: none;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 0.781vw;
      line-height: 0.928vw;
      text-align: center;
      letter-spacing: 0.098vw;
      color: #ffffff;
      cursor: pointer;
    }
  }

  .android-button-box {
    display: none;
  }
}

.android-tip {
  display: none;
}

.sys-choice,
.gpu-check,
.node-logs,
.run-node,
.overview,
.history {
  margin-top: 0.977vw;
  background: #212223;
  border-radius: 0.651vw;
  padding: 0 1.465vw 1.221vw;

  > hgroup {
    border-bottom: 0.098vw solid rgba(222, 222, 222, 0.4);
    padding: 1.221vw 0;
    margin-bottom: 0.977vw;

    h1 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 1.172vw;
      line-height: 1.416vw;
      color: #ffffff;
      margin-bottom: 0.488vw;
    }

    span {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 0.781vw;
      line-height: 0.977vw;
      /* identical to box height */
      text-align: center;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.sys-choice {
  .sys-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > li {
      width: calc(~'50% - 0.885vw');
      margin-bottom: 1.823vw;
      height: 16.146vw;
      border-radius: 0.488vw;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 1.953vw;
      line-height: 2.344vw;
      color: #ffffff;
      position: relative;
      border: 0.195vw solid rgba(255, 255, 255, 0.2);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        radial-gradient(
          20.52% 50% at 50% 50%,
          #31376f 0%,
          rgba(137, 75, 162, 0) 100%
        ),
        conic-gradient(
          from 180deg at 50% 36.97%,
          #7976e8 -110.28deg,
          #f449f4 6.37deg,
          #0019c0 153.67deg,
          #7976e8 249.72deg,
          #f449f4 366.37deg
        );
      backdrop-filter: blur(1.465vw);

      > span {
        margin-top: 0.521vw;
      }

      .check-box {
        position: absolute;
        top: 1.221vw;
        right: 1.221vw;

        :global {
          .ant-checkbox {
            .ant-checkbox-inner {
              width: 1.709vw;
              height: 1.709vw;
              border: 0.146vw solid #fff;
            }

            .ant-checkbox-inner::after {
              left: 25.5%;
              width: 0.488vw;
              height: 0.879vw;
              border: 0.195vw solid #fff;
              border-top: 0;
              border-left: 0;
            }
          }

          .ant-checkbox-checked {
            .ant-checkbox-inner {
              background-color: #dd5acc;
              border: 0;
            }
          }
        }
      }
    }

    > li:nth-child(n + 2) {
      margin-bottom: 0;
    }
  }
}

.gpu {
  .gpu-container,
  .node-container {
    border-bottom: 0.098vw solid rgba(222, 222, 222, 0.4);
    padding-bottom: 1.221vw;
    margin-bottom: 1.465vw;

    > nav {
      display: flex;
      align-items: center;
      gap: 0.781vw;
      margin-bottom: 1.709vw;

      button {
        padding: 0.879vw 1.172vw;
        width: 6.641vw;
        height: 2.344vw;
        border: 0.049vw solid #efe6fd;
        border-radius: 0.195vw;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 0.781vw;
        line-height: 0.684vw;
        leading-trim: both;
        text-edge: cap;
        text-transform: uppercase;
        color: #efe6fd;
        overflow: hidden;

        &.active {
          background: #dd5acc;
          border-color: transparent;
          color: #ffffff;
        }
      }
    }

    .gpu-list {
      li {
        display: flex;
        align-items: center;
        height: 3.125vw;

        &:not(:first-child) {
          margin-top: 1.611vw;
        }

        .icon-box {
          height: 3.125vw;
          width: 3.125vw;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #32a7e2;
          margin-right: 1.074vw;
          border-radius: 50%;
          color: #0019c0;

          img {
            width: 1.367vw;
          }
        }

        .info {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 0.635vw;

          .name {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 0.977vw;
            line-height: 1.172vw;
            letter-spacing: 0.022vw;
            color: #ffffff;
          }

          .status {
            display: flex;
            align-items: center;
            gap: 0.244vw;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 0.781vw;
            line-height: 0.928vw;
            letter-spacing: 0.033vw;
            color: rgba(255, 255, 255, 0.5);

            &::before {
              content: '';
              width: 0.488vw;
              height: 0.488vw;
              border-radius: 50%;
              background-color: #f40000;
            }
          }

          .active::before {
            background-color: #00f453;
          }
        }

        .online-time {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 0.977vw;
          line-height: 1.172vw;
          letter-spacing: 0.022vw;
          color: #ffffff;
        }
      }
    }
  }

  .tip {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.781vw;
    line-height: 1.465vw;
    leading-trim: both;
    text-edge: cap;
    color: rgba(255, 255, 255, 0.5);
  }

  .node-container {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .code-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 292px;
    background: #525252;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.666667px;
    color: #ffffff;
  }
}

.run-node {
  .content {
    user-select: text;

    section {
      width: 64.209vw;
      background: #333333;
      border-width: 0.024vw;
      border-style: solid;
      border-color: #262626;
      border-radius: 0.488vw;
      padding: 0.977vw;

      &:not(:first-child) {
        margin-top: 0.977vw;
      }

      > hgroup {
        h2 {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 0.977vw;
          line-height: 1.172vw;
          letter-spacing: 0.022vw;
          color: #ffffff;
        }
      }

      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 0.781vw;
        line-height: 0.928vw;
        letter-spacing: 0.033vw;
        color: rgba(255, 255, 255, 0.5);
      }

      .code-area {
        margin-top: 0.977vw;
        width: 62.256vw;
        height: 14.258vw;
        background: #525252;
        border-radius: 0.244vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 0.781vw;
        line-height: 0.928vw;
        text-align: center;
        letter-spacing: 0.033vw;
        color: #ffffff;
      }
    }
  }
}

.overview {
  .statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #333333;
    border-width: 0.024vw;
    border-style: solid;
    border-color: #262626;
    border-radius: 0.488vw;
    padding: 1.221vw 0.977vw;

    .info {
      display: flex;
      flex-direction: column;
      gap: 0.879vw;

      .name {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 0.781vw;
        line-height: 1.172vw;
        color: #efe6fd;
        display: flex;
        align-items: center;
        gap: 0.391vw;

        &::before {
          content: '';
          background-color: #dd5acc;
          border-radius: 0.195vw;
          width: 0.488vw;
          height: 0.488vw;
        }
      }

      .value {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 1.172vw;
        line-height: 1.563vw;
        color: rgba(239, 230, 253, 0.99);
        display: flex;
        align-items: center;
        gap: 0.391vw;
      }
    }
  }
}

.history {
  .node-list {
    > nav {
      display: flex;
      align-items: center;
      gap: 0.781vw;
      margin-bottom: 1.709vw;

      button {
        padding: 0.879vw 1.172vw;
        width: 6.641vw;
        height: 2.344vw;
        border: 0.049vw solid #efe6fd;
        border-radius: 0.195vw;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 0.781vw;
        line-height: 0.684vw;
        leading-trim: both;
        text-edge: cap;
        text-transform: uppercase;
        color: #efe6fd;

        &.active {
          background: #dd5acc;
          border-color: transparent;
          color: #ffffff;
        }
      }
    }

    li {
      display: flex;
      align-items: center;
      height: 3.125vw;

      &:not(:first-child) {
        margin-top: 1.611vw;
      }

      .icon-box {
        height: 3.125vw;
        width: 3.125vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #32a7e2;
        margin-right: 1.074vw;
        border-radius: 50%;

        img {
          width: 1.367vw;
        }
      }

      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.635vw;

        .name {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 0.977vw;
          line-height: 1.172vw;
          letter-spacing: 0.022vw;
          color: #ffffff;
        }

        .subname {
          display: flex;
          align-items: center;
          gap: 0.244vw;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 0.781vw;
          line-height: 0.928vw;
          letter-spacing: 0.033vw;
          color: rgba(255, 255, 255, 0.5);
        }
      }

      .online-time {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 0.977vw;
        line-height: 1.172vw;
        letter-spacing: 0.022vw;
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    display: none;
  }

  .android-header {
    display: block;

    .top {
      display: flex;
      align-items: center;
      height: 44px;
      gap: 9px;

      .user {
        img {
          display: block;
          width: 32px;
        }
      }

      .search {
        flex: 1;
        height: 35px;

        .search-input {
          width: 100%;
          height: 100%;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #ffffff;
          padding: 0 18px;
          background: #7c737d;
          border-radius: 53.3333px;

          :global {
            .ant-input-prefix {
              margin-right: 8px;

              i {
                width: 17.23px;
                height: 17.23px;
              }
            }
          }
        }

        .search-input::placeholder {
          opacity: 0.5;
        }
      }

      .docs {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: rgba(69, 69, 69, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          border-color: #0019c0;
        }

        .docs-icon {
          width: 15.91px;
          height: 15.91px;
        }
      }
    }

    .bottom {
      height: 51px;
      display: flex;
      align-items: center;
      gap: 60px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;

      .points {
        display: flex;
        align-items: center;
        gap: 4px;

        .points-icon {
          width: 20.4px;
          height: 20.4px;
        }
      }

      .nodes {
        display: flex;
        align-items: center;
        gap: 4px;

        &::before {
          content: '';
          background-color: #00f453;
          border-radius: 50%;
          width: 8px;
          height: 8px;
        }
      }
    }
  }

  .deploy-node {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;

    .next-select {
      display: flex;
      height: 70px;
      width: 100%;
      border-radius: 13px;
      padding: 0;

      .steps {
        padding: 0 20px;
        width: 100%;

        :global {
          .ant-steps {
            .ant-steps-item {
              .ant-steps-item-icon {
                width: 35px;
                height: 35px;

                .ant-steps-icon {
                  font-size: 16px;
                }
              }

              .ant-steps-item-content {
                .ant-steps-item-title::after {
                  top: 17px;
                }
              }
            }
          }
        }
      }

      .button-box {
        display: none;
      }
    }

    .android-button-box {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 5px;
      margin-top: 20px;

      button {
        flex: 1;
        height: 46px;
        border-radius: 10px;
        font-size: 16px;
        line-height: 19.36px;
        letter-spacing: 2px;
      }
    }
  }

  .sys-choice,
  .gpu-check,
  .node-logs,
  .run-node,
  .overview,
  .history {
    margin-top: 16px;
    border-radius: 13.33px;
    padding: 11px 15px 14px;

    > hgroup {
      border-bottom: 1px solid rgba(222, 222, 222, 0.4);
      padding: 0;
      padding-bottom: 12px;
      margin-bottom: 12px;

      h1 {
        font-size: 16px;
        line-height: 19.5px;
        margin-bottom: 5px;
      }

      span {
        font-size: 12px;
        line-height: 14.63px;
      }

      .search-input {
        display: none;
      }
    }
  }

  .overview {
    .statistics {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      background: transparent;
      border-width: 0;
      border-color: transparent;
      border-radius: 0;
      padding: 12px 0;

      .info {
        display: flex;
        flex-direction: column;
        gap: 6px;
        background: #333333;
        padding: 12px 10px;
        width: calc(~'50% - 3px');
        margin-bottom: 6px;

        .name {
          font-size: 12px;
          line-height: 14px;
          gap: 3px;

          &::before {
            border-radius: 1.8px;
            width: 4.7px;
            height: 4.7px;
          }
        }

        .value {
          margin-top: 18px;
          font-size: 16px;
          line-height: 15px;
          gap: 3px;
        }
      }
    }
  }

  .sys-choice {
    .sys-list {
      > li {
        width: calc(~'50% - 3px');
        margin-bottom: 6px;
        height: 95px;
        border-radius: 10px;
        font-size: 16px;
        line-height: 19px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
          radial-gradient(
            20.52% 50% at 50% 50%,
            #31376f 0%,
            rgba(137, 75, 162, 0) 100%
          ),
          conic-gradient(
            from 180deg at 50% 36.97%,
            #7976e8 -110.28deg,
            #f449f4 6.37deg,
            #0019c0 153.67deg,
            #7976e8 249.72deg,
            #f449f4 366.37deg
          );
        backdrop-filter: blur(28.128px);

        i {
          display: none;
        }

        span {
          text-align: center;
          margin-top: 0;
        }

        .check-box {
          top: 6px;
          right: 6px;

          :global {
            .ant-checkbox {
              .ant-checkbox-inner {
                width: 16px;
                height: 16px;
                border: 0.7px solid #fff;
              }

              .ant-checkbox-inner::after {
                width: 4.5px;
                height: 10px;
                border: 2px solid #fff;
                border-top: 0;
                border-left: 0;
              }
            }
          }
        }
      }
    }
  }

  .gpu {
    .gpu-check {
      .gpu-container {
        border-bottom: none;
        padding: 0;
        margin-bottom: 0;

        > nav {
          display: none;
        }

        .gpu-list {
          li {
            height: 40px;

            &:not(:first-child) {
              margin-top: 16px;
            }

            .icon-box {
              height: 40px;
              width: 40px;
              margin-right: 12px;
              flex-shrink: 0;

              img {
                width: 17px;
              }
            }

            .info {
              gap: 5px;
              flex-shrink: 0;

              .name {
                font-size: 16px;
                line-height: 19px;
              }

              .status {
                gap: 5px;
                font-size: 12px;
                line-height: 14px;

                &::before {
                  width: 8px;
                  height: 8px;
                }
              }
            }

            .online-time {
              max-width: 160px;
              flex-shrink: 0;
              font-size: 12px;
              line-height: 14px;
            }
          }
        }
      }

      > .tip {
        display: none;
      }
    }

    .node-logs {
      margin-top: 16px;
      width: 100%;
      border-radius: 10px;
      padding: 16px;
      background: #212223;
      border-width: 0.024vw;
      border-style: solid;
      border-color: #262626;

      .node-container {
        nav {
          display: flex;
          gap: 10px;

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 95px;
            height: 29.5px;
            border: 0.625px solid #efe6fd;
            border-radius: 2.5px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 9px;
            color: #efe6fd;
            background: transparent;
          }

          button.active {
            border-color: transparent;
            background: #dd5acc;
          }
        }
      }

      .code-area {
        margin-top: 10px;
        width: 100%;
        min-height: 274px;
        border-radius: 5px;
        font-size: 14px;
        line-height: 17px;
        background: #525252;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.033vw;
        color: #ffffff;
      }
    }
  }

  .android-tip {
    display: block;
    margin-top: 14px;
    padding-top: 14px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(222, 222, 222, 0.4);
  }

  .run-node {
    .content {
      section {
        width: 100%;
        border-radius: 10px;
        padding: 16px;

        &:not(:first-child) {
          margin-top: 15px;
        }

        > hgroup {
          h2 {
            font-size: 14px;
            line-height: 16px;
          }
        }

        p {
          font-size: 14px;
          line-height: 17px;
          word-break: break-all;
          white-space: wrap;
        }

        .code-area {
          margin-top: 10px;
          width: 100%;
          min-height: 274px;
          border-radius: 5px;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }

  .history {
    .node-list {
      nav {
        display: flex;
        gap: 10px;

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 95px;
          height: 29.5px;
          border: 0.625px solid #efe6fd;
          border-radius: 2.5px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 9px;
          color: #efe6fd;
          background: transparent;
        }

        button.active {
          border-color: transparent;
          background: #dd5acc;
        }
      }

      ul {
        padding-top: 12px;

        li {
          height: 40px;

          &:not(:first-child) {
            margin-top: 16px;
          }

          .icon-box {
            height: 40px;
            width: 40px;
            margin-right: 12px;
            flex-shrink: 0;

            img {
              width: 17px;
            }
          }

          .info {
            gap: 5px;
            flex-shrink: 0;

            .name {
              font-size: 16px;
              line-height: 19px;
            }

            .subname {
              gap: 5px;
              font-size: 12px;
              line-height: 14px;

              &::before {
                width: 8px;
                height: 8px;
              }
            }
          }

          .online-time {
            max-width: 160px;
            flex-shrink: 0;
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }
  }
}
