.btn-new {
  color: 'white';
  width: 100%;
  margin-block: '8px';
  background: #b76666;
}
.form {
  color: #000;
}
.icon-close {
  font-size: '1.3rem';
  cursor: 'pointer';
}
.btn-text {
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
}
.modal-select {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: solid 1px black;
  color: #000;
}
