.terminal-modal {
  font-size: 12px;

  :global {
    .ant-modal-content {
      border-radius: 15px;
      background-color: rgba(0, 0, 0, 0.5);

      .ant-modal-header {
        padding: 0;
        height: 30px;
        padding-right: 54px;
        border-radius: 0;
        background-color: transparent;
        color: #fff;
        border: none;

        .full-screen {
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: rgba(255, 255, 255, 0.45);
          cursor: pointer;
          transition: color 0.3s;

          &:hover {
            color: rgba(255, 255, 255, 0.75);
          }
        }

        .ant-modal-title {
          font-size: 14px;
        }
      }

      .ant-modal-body {
        padding: 0 10px;
      }

      .ant-modal-close {
        padding-right: 12px;

        .ant-modal-close-x {
          width: 30px;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
        }
      }
    }

    .xterm-viewport {
      background: transparent !important;
    }
  }
}
