.gpu-card {
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 10px;
  padding-top: 0;

  .gpu-header {
    display: flex;
    gap: 10px;
    align-items: center;

    background: linear-gradient(135deg, #2a3d55, #111) no-repeat;
    border-radius: 8px;
    padding: 16px;
    .gpu-logo {
      width: 30px;
      height: 30px;
    }
    .gpu-title {
      margin: 0;
      font-size: 1rem;
      font-weight: 500;
      color: #e6f7ff;
    }
    i {
      color: rgb(29, 159, 29);
      background-color: #9e9e9e2b;
      padding: 6px;
      border-radius: 6px;
    }
  }
  .gpu-desc {
    padding: 16px;
  }
  :global {
    .ant-card-body {
      padding: 0;
    }
  }
}

.gpu-location {
  margin: 0;
  font-size: 0.8rem;
  color: #ccc;
}

.gpu-specs {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  font-weight: 500;
  color: #fff;
}

.gpu-bandwidth,
.gpu-duration {
  font-size: 0.85rem;
  margin: 4px 0;
  color: #aaa;
}

.gpu-price {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #3ec6ff;
}

.discount-tag {
  font-size: 0.7rem;
  border-radius: 6px;
}

.gpu-original-price {
  text-decoration: line-through;
  color: #888;
  font-size: 0.8rem;
  margin-bottom: 12px;
}

.buy-button {
  border: 1px solid #ffffff51;
  color: #fff;
  background: transparent;
  height: 60px;
  font-size: 1.2rem;
  border-radius: 4px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;
  span {
    color: orange;
    font-size: 1.2rem;
  }
}

.buy-button:hover {
  background: #1677ff;
  color: #fff;
}
