@font-face {
  font-family: "iconfont"; /* Project id 4602216 */
  src: url('iconfont.woff2?t=1720322240246') format('woff2'),
       url('iconfont.woff?t=1720322240246') format('woff'),
       url('iconfont.ttf?t=1720322240246') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e63e";
}

.icon-down:before {
  content: "\e63d";
}

.icon-next:before {
  content: "\e63b";
}

.icon-pre:before {
  content: "\e63c";
}

.icon-menu:before {
  content: "\e63a";
}

.icon-link:before {
  content: "\e638";
}

.icon-copy:before {
  content: "\e639";
}

.icon-nvidia:before {
  content: "\e635";
}

.icon-down_triangle:before {
  content: "\e637";
}

.icon-dashboard:before {
  content: "\e636";
}

.icon-switch:before {
  content: "\e633";
}

.icon-coin:before {
  content: "\e634";
}

.icon-linux:before {
  content: "\e62e";
}

.icon-github:before {
  content: "\e62f";
}

.icon-discord:before {
  content: "\e630";
}

.icon-doc:before {
  content: "\e631";
}

.icon-x:before {
  content: "\e632";
}

.icon-android:before {
  content: "\e62b";
}

.icon-windows:before {
  content: "\e62c";
}

.icon-macos:before {
  content: "\e62d";
}

