.launch-container {
  width: 100vw;
  overflow-x: clip;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    width: 100%;
    padding: 24px 80px;
    background: rgb(10, 10, 10);
    border-bottom: 1px solid rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      width: 2.084vw;
      height: 2.084vw;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;

      i {
        font-size: 24px;
        transition: all 0.3s;
      }

      &:hover {
        background: #fff;
        transition: all 0.3s;

        i {
          color: #333;
          transition: all 0.3s;
        }
      }
    }
  }

  .return {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 32px 0 0 80px;
    gap: 10px;

    a {
      font-size: 16px;
      line-height: 24px;
      color: rgb(153, 153, 153);

      svg {
        height: 12px;
      }

      &:hover {
        color: #fff;
      }
    }
  }

  main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    > section {
      width: 1280px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 32px;

      i {
        display: block;
        width: 16px;
        height: 16px;
        border: 3px solid #6a6770;
        background: #7affa1;
        border-radius: 50%;
        flex-shrink: 0;
      }

      > h1 {
        font-size: 52px;
        text-align: center;
        margin-bottom: 32px;
        font-weight: bold;
      }

      .launch-content {
        width: 700px;
        border: 1px solid rgb(68 68 68);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        border-radius: 10px;
        padding: 12px;
        gap: 24px;

        .function {
          width: 100%;
          height: 120px;
          padding: 12px;
          border-radius: 5px;
          cursor: pointer;
          border: 1px solid transparent;
          background-image: url('../../assets/images/launch/bg_genesis.png');
          background-size: 100% 100%;

          &:hover {
            border-color: rgb(68 68 68);
          }

          h2 {
            font-weight: 500;
            font-size: 24px;
          }
        }

        .Nexus {
          grid-column: 1 / span 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          background-image: url('../../assets/images/launch/bg_nexus.png');
          background-size: 100% 100%;

          .routes {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .item {
              width: 100px;
              padding: 10px 0;
              text-align: center;
              border: 1px solid rgb(68 68 68);
              background: #000;
              border-radius: 5px;
              transition: all 0.3s;
            }
          }
        }

        .Wating {
          background-image: url('../../assets/images/launch/bg_waiting.png');
          background-size: 100% 100%;

          i {
            background-color: #6a6770;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;
    background: rgb(10, 10, 10);
    border-top: 1px solid rgb(30, 30, 30);

    > div {
      gap: 20px;

      > a {
        display: flex;
        align-items: center;
        gap: 20px;

        &::before {
          content: '';
          height: 20px;
          border-left: 1px solid rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .socials-links {
    display: flex;
  }
}

@media (max-width: 768px) {
  .launch-container {
    main {
      > section {
        padding: 0 24px;

        .launch-content {
          width: 100%;
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(3, 1fr);
          gap: 24px;

          .Nexus {
            grid-column: 1 / span 1;

            .routes {
              gap: 10px;

              .item {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
}
