.location-wrapper {
  display: flex;

  :global {
    .ant-empty {
      width: 50%;
      margin: 0;
    }
  }
}
@media screen and (max-width: 680px) {
  .location-wrapper {
    justify-content: center;
  }
}
