.wrapper {
  margin-right: 20px;

  .section {
    display: grid;
    grid-template-columns: 100px auto;
    gap: 12px;
    padding-block: 6px;

    .input {
      background: #141414;
      border-color: #434343;
      color: #fff;
      min-height: 40px;

      &::placeholder {
        color: #aaa !important;
      }

      &:focus {
        background: #141414 !important;
        border-color: #949494 !important;
      }

      &:hover {
        background: #141414 !important;
      }

      :global {
        .ant-input {
          background: transparent;
          color: #fff;

          &::placeholder {
            color: #fff !important;
          }
        }
      }
    }

    .avatar {
      border: 1px solid #555555ba;
      cursor: pointer;
      background: #141414;
    }
  }
}

.setting-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .ant-switch {
    margin-right: 12px;
  }

  .setting-text {
    flex: 1;
    margin-left: 13px;
  }

  .setting-description {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
  }
}

// avatar hovered
.avatar-container {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 24px;
    height: 24px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: opacity 0.3s;

    &:hover {
      background: rgba(255, 0, 0, 0.5);
      border-radius: 6px;
    }
  }
}
