.agent-wrapper {
  margin-bottom: 25px;

  .header-wrapper {
    padding-bottom: 22px;
    border-bottom: 1px solid #767676;

    padding-inline: 50px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    header {
      display: flex;
      align-items: center;
      h1 {
        font-size: 2.2rem;
        color: #fff;
        font-weight: 600;
      }
      .line {
        height: 50px;
        background: #767676c9;
      }
      span {
        font-size: 1.1rem;
        color: #a2a2a2;
        font-weight: 400;
      }
    }
  }
  .header-resources {
    border-bottom: 1px solid #ffffff59;
    padding: 20px 50px;
    display: flex;
    gap: 18px;
    font-size: 1.1rem;
    span {
      cursor: pointer;
      color: rgba(240, 248, 255, 0.709);
    }
    .active {
      color: #fff;
    }
  }
  .container {
    padding: 40px;
  }
}

@media screen and (max-width: 740px) {
  .agent-wrapper {
    margin-bottom: 25px;

    .header-wrapper {
      padding-bottom: 12px;
      border-bottom: 1px solid #767676;

      padding-inline: 12px;

      margin-top: 20px;
      header {
        h1 {
          font-size: 1.2rem;
        }
        .line {
          height: 50px;
          background: #767676c9;
        }
        span {
          font-size: 0.9rem;
        }
      }
    }
    .header-resources {
      border-bottom: 1px solid #ffffff59;
      padding: 20px 12px;

      font-size: 0.9rem;
    }
    .container {
      padding: 0px;
      margin-top: 18px;
    }
  }
}
