.applyPageContainer {
  padding: 24px;

  .mainCard {
    max-width: 1200px;
    margin: 0 auto;
  }

  .stepsContainer {
    padding: 24px 48px;
    margin-bottom: 32px;
  }

  .stepContent {
    min-height: 500px;
    padding: 24px;
  }
}
