.customModal {
  :global {
    .ant-modal-header {
      border-radius: 12px 12px 0 0;
      background: #3e3e3e13;
      backdrop-filter: blur(4px);
    }

    .ant-modal-content {
      background: #3e3e3e6c;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      border-radius: 12px;
    }
    .ant-modal-body {
      backdrop-filter: blur(18px);
      max-height: 70vh;
      overflow-y: auto;

      border-radius: 0 0 12px 12px;
    }
  }
}
