.button {
  padding: 22px;
  width: 190px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  border-color: #797979;
  color: #fff;
  font-size: 1rem;
  box-shadow: 0px 0px 2px 1px #ffffff39;
  transition: all ease 350ms;
  &:hover {
    border-color: #a3a3a3;
    color: #c1c0c0;
  }
  .icon {
    color: orange;
  }
  .icon_rotate {
    transform: rotate(45deg);
    color: orange;
  }
}

@media screen and (max-width: 740px) {
  .button {
    padding: 12px;
    font-size: 12px;
    gap: 5px;
  }
}
