.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.uncreated {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .title__text {
    font-size: 1.4rem;
    max-width: 30ch;
    color: #fff;
  }
  .title__desc {
    font-size: 0.7rem;
    color: rgba(182, 184, 185, 0.845);
  }
}

.connect-btn {
  height: 40px;
  min-width: 120px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
  justify-content: center;
  padding: 4px 14px;
  background: transparent;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  border: 1px solid #a1a1a1;
  color: #fff;
  border-radius: 4px;
  text-wrap: nowrap;
  .icon {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: orange !important;
    margin-inline: 4px;
  }
}
.head {
  color: rgb(148, 148, 255);
}
.agent-cards {
  display: grid;
  padding-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 35px;
}
.agents {
  border: none;
  margin-top: 35px;
  padding: 12px;
}
.submitButton {
  padding: 22px;

  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  gap: 8px;
  border-color: #797979;
  color: #fff;
  font-size: 1rem;
  box-shadow: 0px 0px 2px 1px #ffffff39;
  transition: all ease 350ms;
  &:hover {
    border-color: #a3a3a3;
    color: #c1c0c0;
  }
  .icon {
    color: orange;
  }
  .icon_rotate {
    transform: rotate(45deg);
    color: orange;
  }
}

@media screen and (max-width: 740px) {
  .header-container {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 12px;
    div > .title__text {
      font-size: 1rem;
    }
    div > .submitButton {
      padding: 8px;
      width: min-content;
      height: 35px;
      font-size: 0.8rem;
    }
    .uncreated {
      display: block;
      width: 100%;
    }
  }
}
