.main-header {
  width: 1392px;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;

  .logo {
    display: flex;
    align-items: center;
  }

  > nav {
    ul {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
      padding: 0px 16px;
      width: 395px;
      height: 36px;
      border: 1px solid #fff;
      border-radius: 20px;
      font-size: 12px;
      font-weight: bold;
      color: #fff;

      .active a {
        color: #40a9ff;
      }
    }
  }

  .android-menu {
    display: none;
  }
}

.explore-header {
  width: 1392px;
  height: 100px;
  margin: 0 auto;
  position: relative;

  .logo {
    display: flex;
    align-items: center;
  }

  > nav {
    position: absolute;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);

    ul {
      height: 100%;
      gap: 60px;

      li {
        gap: 10px;
        height: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #b7b8b8;
        cursor: pointer;
        overflow: hidden;

        img {
          position: relative;
          transform: translateX(-24px);
          filter: drop-shadow(#b7b8b8 24px 0);
        }

        &.active {
          color: #fff;

          img {
            filter: drop-shadow(#fff 24px 0);
          }
        }
      }
    }
  }

  .extra {
    display: flex;
    align-items: center;
    gap: 30px;

    .login {
      height: 19px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #ffffff;
      cursor: pointer;
      &:hover {
        color: #177ddc;
      }
    }

    .connect-account {
      .connect-button {
        height: 50px;
        padding: 10px;
        background: #dd5acc;
        border-radius: 9px;
        outline: none;
        border: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 2px;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }

  .android-menu {
    display: none;
  }
}

footer {
  margin: 0 auto;
  margin-top: 60px;
  padding-bottom: 20px;
  width: 1200px;

  .links-container {
    display: flex;
    gap: 140px;

    > div {
      display: flex;
      flex-direction: column;
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px;

      > div,
      > a {
        margin-bottom: 12px;
      }

      > div {
        font-size: 15px;
        color: #fff;
      }

      a {
        cursor: pointer;
      }
    }
  }

  .related-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top: 0px;
    border-bottom: 1px solid rgba(245, 245, 255, 0.1);
  }
}

@media (max-width: 1280px) {
  .main-header {
    width: 924px;
    transition: all 0.3s;
  }

  .explore-header {
    width: 924px;
    transition: all 0.3s;

    nav {
      ul {
        gap: 30px;
      }
    }
  }

  footer {
    width: 924px;
    transition: all 0.3s;
  }
}

@media (max-width: 1024px) {
  .main-header {
    width: calc(~'100vw - 40px');
    transition: all 0.3s;

    > nav {
      display: none;
    }

    .android-menu {
      display: block;
    }
  }

  .explore-header {
    width: calc(~'100vw - 40px');
    transition: all 0.3s;

    > nav {
      display: none;
    }

    .extra {
      display: none;
    }

    .android-menu {
      display: block;
    }
  }

  footer {
    width: calc(~'100vw - 40px');
    margin-top: 100px;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    > div:not(.related-container) {
      width: 100%;
      flex-direction: column;
      align-items: center;

      > div:not(.links-container) {
        align-items: center;
      }

      > div.links-container {
        gap: 0;
        width: 100%;
        justify-content: space-between;
      }
    }

    .related-container {
      width: 100%;
      justify-content: center;

      .socials-links {
        display: none;
      }
    }
  }

  :global {
    .ant-dropdown {
      .ant-dropdown-menu {
        width: 111px;
        padding: 15px 18px;
        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(25px);
        border-radius: 10px;

        .ant-dropdown-menu-item {
          padding: 0;
          font-weight: 500;
          font-size: 12px;
        }

        .ant-dropdown-menu-item:not(:first-child) {
          margin-top: 15px;
        }
      }
    }
  }
}
