.gpu_wrapper {
  width: 80%;

  .cards {
    display: flex;
    width: 100%;
    margin-inline: auto;
    align-items: start;
    justify-content: center;
    gap: 25px;
    margin-bottom: 25px;
  }
  .title {
    margin-block: 25px 35px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 2.5rem;
    color: #fff;
  }
}
