.arithmeticCard {
  background: #1f262e2c;
  border-radius: 4px;
  padding: 24px;
  color: #fff;
  margin-bottom: 24px;
  border: #38414c 1px solid;
  header {
    border-bottom: #38414c 1px solid;
    display: flex;
    flex-direction: column;
    gap: 4px;
    span {
      color: #939393;
    }
  }
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.total {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.memorySection {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.ring {
  width: 100px;
  height: 100px;
  margin: auto;
}

.label {
  margin-top: 8px;
  font-size: 14px;
  color: #aaa;
}

.value {
  font-size: 12px;
  color: #777;
}
.subTitle {
  margin-top: 20px;
}
