.billings-wrapper {
  margin-bottom: 25px;
  .header-wrapper {
    padding-bottom: 22px;
    border-bottom: 1px solid #767676;

    padding-inline: 50px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    header {
      display: flex;
      align-items: center;
      h1 {
        font-size: 2.2rem;
        color: #fff;
        font-weight: 600;
      }
    }
  }
}
.input-search {
  border: #8b8b8bdc 1px solid;
  padding: 10px;
  border-radius: 4px;
  width: 300px;
  i {
    color: orange;
  }
}
.title {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
}

.time-period {
  color: #ffffff66;
  margin-right: 40px;
}

.table-wrapper {
  background: #1b1b1b1b;
  border-radius: 4px;
  border: #8b8b8bdc 1px solid;
  padding-block: 16px;
  margin-top: 26px;
  margin-inline: 50px;
  .card-header {
    border-bottom: #8b8b8bdc 1px solid;
    padding: 16px;
    padding-top: 0;
    display: flex;

    gap: 12px;
    .row {
      display: flex;
      align-items: center;
      gap: 22px;
      p {
        color: #8b8b8bdc;
      }
      .picker {
        border: 1px solid #8b8b8bdc;
        width: 150px;
        border-radius: 5px;
        padding: 8px;
        input::placeholder {
          color: #fff;
        }
        :global {
          .ant-picker-input {
            span {
              color: orange;
            }
          }
        }
      }
    }
  }
}

.billings-table {
  margin: 12px;

  :global {
    .ant-table {
      background: transparent !important;
    }
    .ant-table-container table {
      border-spacing: 0 8px !important;
      border-collapse: separate !important;
      .ant-table-thead {
        tr > th {
          background: #0f0f0f !important;
          margin: 0;
          height: 40px;
          padding: 12px 10px;
          border: none;
        }
      }

      .ant-table-tbody {
        tr {
          background: #1a1a1a; // añade fondo a cada fila
          border-radius: 10px;
          overflow: hidden;
          border-radius: 12px;
          td {
            padding: 6px;
            height: 50px !important;
            color: #fff !important;
            border: none;
            // background: transparent;

            &:last-child {
              a {
                color: #73d5f4;
              }
              .recent-status {
                color: #828283;
                cursor: not-allowed;
              }
            }
          }

          .ellipsis {
            text-overflow: ellipsis;
            text-wrap: nowrap;
          }
        }
        tr > td:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        tr > td:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
}

:global {
  .ant-drawer {
    .ant-drawer-content-wrapper {
      height: 80vh;
      top: 10vh;
      right: 40px;
      border-radius: 32px;
      overflow: hidden;

      .ant-drawer-header {
        border-bottom: none;

        .ant-drawer-close {
          position: absolute;
          right: 24px;
          top: 24px;
          margin-right: 0;
        }
      }

      .ant-drawer-body {
        background: #00000014;

        &::-webkit-scrollbar {
          width: 12px;
          height: auto;
        }

        &::-webkit-scrollbar-thumb {
          background: #5e5e5e2e;
          border-radius: 10px;
          width: 6px;
        }

        &::-webkit-scrollbar-track {
          background: #ffffff05;
        }
      }
    }
  }
}

.drawer-header {
  width: fit-content;
  margin: 0 auto;

  img {
    margin-top: 50px;
  }

  .drawer-title {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #ffffffe5;
  }
}

.drawer-list {
  width: 430px;
  margin: 0 auto;
  background: #00000014;
  border: none;
  border-radius: 16px;

  :global {
    .ant-list-header {
      padding: 0 26px;
      line-height: 54px;
    }

    .ant-list-item {
      padding: 0;
      line-height: 36px;
      margin: 16px 26px 0;
      border-bottom: 0.001vw solid #99999940;

      & > div {
        width: 100%;
      }
    }
  }
}

.total-wrapper {
  padding: 15px 20px;
  width: 100%;
  height: 52px;
  background: #18181c;
  border-radius: 4px;
  margin-top: 26px;

  span {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 510;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.4);
  }

  .value {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
  }

  .total-value {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 510;
    font-size: 14px;
    line-height: 22px;
    color: #ff9f5a;
  }
}
@media screen and (max-width: 740px) {
  .billings-wrapper {
    .header-wrapper {
      padding-inline: 10px;
      margin-top: 20px;
      header {
        h1 {
          font-size: 6vw;
        }
        p {
          font-size: 3.2vw;
        }
      }
    }
    .total-wrapper {
      height: 100px;
      margin-inline: 12px;
      padding-inline: 12px;
      background: red !important;
    }
    .table-wrapper {
      padding: 12px;
      margin-inline: 4px;
      .card-header {
        border-bottom: #8b8b8bdc 1px solid;
        padding: 12px 4px;
        flex-direction: column;
      }
    }
  }
}
