.product-container {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

  .slogan {
    height: calc(~'100vh - 96px');
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      position: relative;
      font-size: 60px;
      color: #000;
      white-space: nowrap;
      height: 90px;
      line-height: 90px;

      &::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 60px;
        color: #fff;
        line-height: 90px;
        filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
        -webkit-text-stroke: 0vw #383d52;
        white-space: nowrap;
        overflow: hidden;
        animation: animate 6s linear 1;
      }
    }

    @keyframes animate {
      0%,
      10% {
        width: 0;
      }

      90%,
      100% {
        width: 100%;
      }
    }

    .learn-more {
      margin-top: 50px;
      animation-delay: 6s;
    }

    button {
      margin-top: 100px;
      cursor: pointer;
      display: flex;
      padding: 20px;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      position: relative;
      border: none;
      font-size: 14px;
      font-family: inherit;
      color: #fff;
      height: 40px;
      text-align: center;
      background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
      background-size: 300%;
      border-radius: 30px;
      z-index: 1;
    }

    button:hover {
      animation: ani 8s linear infinite;
      border: none;
    }

    @keyframes ani {
      0% {
        background-position: 0%;
      }

      100% {
        background-position: 400%;
      }
    }

    button:before {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      z-index: -1;
      background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
      background-size: 400%;
      border-radius: 35px;
      transition: 1s;
    }

    button:hover::before {
      filter: blur(20px);
    }

    button:active {
      background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    }
  }

  .apps {
    padding: 300px 0;
    width: 100%;

    h1 {
      color: #fff;
      font-size: 96px;
      margin-bottom: 20px;
    }

    .list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > div {
        width: 30%;
        display: flex;
        align-items: center;
        flex-direction: column;

        img {
          border-radius: 20px;
          width: 100%;
          user-select: none;
        }

        p {
          padding: 20px 0;
          font-size: 20px;
        }

        button {
          text-transform: uppercase;
          letter-spacing: 0.1em;
          padding: 10px 30px;
          transition: 0.5s;
          position: relative;
          font-size: 17px;
          background: #333;
          border: none;
          color: #fff;
          cursor: pointer;
        }

        button:hover {
          letter-spacing: 0.25em;
          background: #ff1867;
          color: #ff1867;
          box-shadow: 0 0 45px #ff1867;
        }

        button::before {
          content: '';
          position: absolute;
          inset: 2px;
          background: #222222;
        }

        button span {
          position: relative;
          z-index: 1;
        }

        button i {
          position: absolute;
          inset: 0;
          display: block;
        }

        button i::before {
          content: '';
          position: absolute;
          border: 2px solid #ff1867;
          width: 7px;
          height: 4px;
          top: -3.5px;
          left: 80%;
          background: #222222;
          transform: translateX(-50%);
          transition: 0.5s;
        }

        button:hover i::before {
          width: 20px;
          left: 20%;
        }

        button i::after {
          content: '';
          position: absolute;
          border: 2px solid #ff1867;
          width: 7px;
          height: 4px;
          bottom: -3.5px;
          left: 20%;
          background: #222222;
          transform: translateX(-50%);
          transition: 0.5s;
        }

        button:hover i::after {
          width: 20px;
          left: 80%;
        }
      }
    }
  }

  .introduce {
    width: 100%;

    h1 {
      color: #fff;
      font-size: 96px;
      margin-bottom: 40px;
    }

    .list {
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        gap: 20px;

        .content {
          display: flex;
          justify-content: space-between;
          gap: 100px;
          background: rgba(16, 16, 16, 0.5);
          border-radius: 20px;
          padding: 30px;
          padding-right: 0;
          flex: 1;

          > section {
            flex: 3;
            h2 {
              color: #fff;
              font-size: 48px;
              line-height: 48px;
              font-weight: bold;
            }

            p {
              font-size: 20px;
              line-height: 30px;
              margin: 20px 0;
              color: #999;
            }
          }

          .banner {
            flex: 4;
            border: 10px solid #1a1a1a;
            border-right: none;
            border-radius: 40px 0 0 40px;
            overflow: hidden;

            img {
              width: 100%;
              height: 370px;
              transition: transform 0.8s;
            }

            img:hover {
              transform: scale(1.2);
            }
          }
        }

        .faq {
          transform: rotate(180deg);
        }
      }

      .item-reverse {
        .content {
          flex-direction: row-reverse;
          padding: 30px;
          padding-left: 0;

          section {
            text-align: right;
          }

          .banner {
            border-radius: 0 40px 40px 0;
            border: 10px solid #1a1a1a;
            border-left: none;
            img {
              width: 100%;
            }
          }
        }

        // .faq {
        //   transform: rotate(180deg);
        // }
      }
    }
  }
}
