.config-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;

  .config-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: flex-start;
    padding: 32px;
    gap: 32px;
    background: #252527;
    background-blend-mode: luminosity;
    border-radius: 32px;

    > h1.title {
      height: 24px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.9);
      display: flex;
      align-items: center;
      gap: 8px;

      &::before {
        content: '';
        width: 4px;
        height: 24px;
        background: #73d5f4;
        border-radius: 43px;
      }
    }

    :global {
      .ant-divider {
        color: rgba(255, 255, 255, 0.05);
        margin: 0;
      }
    }
  }
}

.customized-wrapper {
  .basic-config {
    display: flex;
    flex-direction: column;
    gap: 24px;

    > section {
      display: flex;
      flex-direction: column;
      gap: 16px;

      h1.sub-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.9);
      }
    }

    .instance {
      .configuration-nav {
        display: flex;
        align-content: center;
        height: 44px;
        border-radius: 41px;
        overflow: hidden;

        .configuration-nav-item {
          width: 189px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #1b1b1c;
          border-left: 1px solid rgba(255, 255, 255, 0.1);
          background-color: rgba(27, 27, 28, 1);
          cursor: pointer;

          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.6);

          &:first-child {
            border: none;
            border-radius: 41px 0 0 41px;
          }

          &:last-child {
            border-radius: 0 41px 41px 0;
          }
        }

        .configuration-nav-active-item {
          background-color: rgba(255, 255, 255, 0.05);
          color: rgba(255, 255, 255, 0.9);
        }
      }

      .configuration-options {
        // display: flex;
        // align-items: center;
        gap: 16px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

        .configuration-option {
          // flex: 1;
          // height: 294px;
          border-radius: 16px;
          min-width: 240px;
          overflow: hidden;
          border: 2px solid;
          border-color: transparent;
          cursor: pointer;
          text-wrap: wrap;

          > .head {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 16px;
            gap: 8px;
            height: 76px;
            background: #1d1d1d;

            .title {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: rgba(255, 255, 255, 0.4);
            }

            .info {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: rgba(255, 255, 255, 0.9);
            }
          }

          > .info {
            padding: 16px;
            background: #2f2f31;

            .head {
              display: flex;
              align-items: center;
              gap: 8px;

              .icon {
                width: 40px;
                height: 40px;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                  font-size: 15px;
                }
              }

              span {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.9);
              }
            }

            .desc {
              // width: 270px;
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: rgba(255, 255, 255, 0.4);
              margin-top: 12px;
            }

            .price {
              margin-top: 36px;
              padding-left: 10px;

              .value {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                color: #ff8c27;
              }

              .unit {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                text-align: justify;
                color: rgba(255, 255, 255, 0.4);
              }
            }
          }
        }

        .configuration-active-option {
          background: #2f2f31;
          border-color: #73d5f4;
        }
      }
    }

    .image {
      .content {
        display: flex;
        align-items: center;
        gap: 16px;
      }

      .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        height: 92px;
        background: #2f2f31;
        border-radius: 16px;
        border: 2px solid;
        border-color: transparent;
        cursor: pointer;

        .icon {
          width: 40px;
          height: 40px;
          background: #000000;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            font-size: 15px;
          }
        }
      }

      .active-item {
        border-color: #73d5f4;
      }
    }

    .application {
      .content {
        display: flex;

        align-items: center;
        gap: 16px;
      }

      .item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        background: #2f2f31;
        border-radius: 16px;
        border: 2px solid;
        border-color: transparent;
        cursor: pointer;

        span {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.9);
        }
      }

      .active-item {
        border-color: #73d5f4;
      }
    }
  }

  .band-config {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .item {
      display: flex;
      align-items: center;
      gap: 16px;

      .name {
        width: 20%;
        max-width: 260px;
        min-width: 125px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.9);
      }

      .value {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 25px;

        .band-radio-wrapper {
          display: flex;
          gap: 12px;
          align-items: center;
          margin-right: 40px;

          > span {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.9);
          }

          .band-radio {
            margin-right: 8px;
            display: flex;
            flex-wrap: nowrap;

            :global {
              .ant-radio-button-wrapper {
                border: none;
                width: 80px;
                height: 44px;
                padding: 0;
                text-align: center;
                background-color: #2f2f31;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 44px;
                color: rgba(255, 255, 255, 0.6);

                &:first-child {
                  border-radius: 16px 0 0 16px;
                }

                &:last-child {
                  border-radius: 0 16px 16px 0;
                }

                &::before {
                  display: none;
                }

                &:hover {
                  color: rgba(255, 255, 255, 0.9);
                }
              }

              .ant-radio-button-wrapper-checked {
                background: #484849;
                color: rgba(255, 255, 255, 0.9);
                border: none;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}

.quick-wrapper {
  width: 100%;

  .band-config {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .item,
    .vertical-item {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: 16px;

      .name {
        width: 20%;
        max-width: 260px;
        min-width: 125px;
        flex-shrink: 0;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.9);
        text-wrap: nowrap;
      }

      .value {
        width: 80%;
        display: flex;
        align-items: center;
        gap: 60px;

        .band-radio-wrapper {
          > span {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.9);
          }

          .band-radio {
            margin-right: 8px;

            :global {
              .ant-radio-button-wrapper {
                border: none;
                width: 80px;
                height: 44px;
                padding: 0;
                text-align: center;
                background-color: #2f2f31;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 44px;
                color: rgba(255, 255, 255, 0.6);

                &:first-child {
                  border-radius: 16px 0 0 16px;
                }

                &:last-child {
                  border-radius: 0 16px 16px 0;
                }

                &::before {
                  display: none;
                }

                &:hover {
                  color: rgba(255, 255, 255, 0.9);
                }
              }

              .ant-radio-button-wrapper-checked {
                background: #484849;
                color: rgba(255, 255, 255, 0.9);
                border: none;
                box-shadow: none;
              }
            }
          }
        }
      }
    }

    .vertical-item {
      align-items: flex-start;

      .value {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 16px;

        .desc {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }

  .ip {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .list {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;

      .item {
        flex: 1;
        max-width: 238px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        height: 92px;
        background: #2f2f31;
        border-radius: 16px;
        border: 2px solid;
        border-color: transparent;
        cursor: pointer;

        .icon {
          width: 40px;
          height: 40px;
          background: #000000;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            font-size: 15px;
          }
        }

        span {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.9);
        }
      }

      .active-item {
        border-color: #73d5f4;
      }

      .more {
        gap: 3px;

        i {
          color: #8e8e91;
          font-size: 20px;
        }
      }
    }
  }

  .version-select {
    width: 302px;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
}

.janction-table {
  :global {
    .ant-table {
      padding: 0;
      background: #1b1b1d;
      border-bottom: 1px solid #222327;
      border-radius: 22px;
      overflow: hidden;
      overflow-y: scroll;
      max-height: 600px;

      .ant-table-container {
        table {
          width: 100%;

          .ant-table-thead {
            overflow: hidden;

            tr {
              border-bottom: 1px solid #222327;

              th {
                height: 36px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 20px;
                color: #adadae;
                padding: 10px 18px;
                background: #333335;

                &::before {
                  background-color: transparent;
                }
              }
            }
          }

          .ant-table-tbody {
            tr {
              td {
                border: none;
                padding: 12px 16px;
                height: 20px;
                max-width: 60px;
                text-wrap: nowrap;
                color: #a3a3a4;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .green {
                color: rgb(11, 157, 11);
              }

              .activity-name > a {
                max-width: 1ch;
              }

              .activity-name {
                display: flex;
                gap: 12px;
                align-items: center;
              }

              .activity-name-img {
                height: 14px;
                width: 14px;
              }

              &:hover {
                td {
                  background-color: #212123;
                  /* Color al pasar el mouse */
                }
              }
            }
          }
        }
      }

      .ant-table-footer {
        background: #1b1b1d;
        border-top: 1px solid #2f2f2f;
      }
    }
  }

  .name-column-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;

    .icon-2 {
      width: 40px;
      height: 40px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 15px;
      }
    }
  }

  .name-column {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;

    .icon {
      width: 40px;
      height: 40px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 15px;
      }
    }
  }

  .info {
    display: inline-flex;
    flex-direction: column;

    .name {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #ffffff;
    }

    .value {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.4);
    }

    .up {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #ee385c;
    }

    .down {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #00e195;
    }
  }

  .action {
    display: inline-flex;
    align-items: center;
    color: #73d5f4;
    gap: 9px;

    span {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }

    i {
      font-size: 8px;
    }
  }
}

.janction-table-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  a {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      color: #73d5f4;
    }
  }

  > span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.4);
  }
}

.janction-step {
  width: 100%;

  :global {
    .ant-steps {
      .ant-steps-item-finish .ant-steps-item-icon {
        background: #00bbd4;
        border: 1px solid #00bbd4;
        border-color: #00bbd4;

        .ant-steps-icon {
          font-size: 14px;
          color: #fff;
        }
      }

      .ant-steps-item-process
        > .ant-steps-item-container
        > .ant-steps-item-icon {
        background: #00bbd4;
        border: 1px solid #00bbd4;
        border-color: #00bbd4;

        .ant-steps-icon {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
      }

      .ant-steps-item-wait .ant-steps-item-icon {
        background: #2f2f31;
        border-radius: 16px;
        border-color: transparent;

        .ant-steps-icon {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
}

.band-width-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;
  gap: 32px;
  background: #252527;
  background-blend-mode: luminosity;
  border-radius: 32px;

  > h1.title {
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    gap: 8px;

    &::before {
      content: '';
      width: 4px;
      height: 24px;
      background: #73d5f4;
      border-radius: 43px;
    }
  }

  :global {
    .ant-divider {
      color: rgba(255, 255, 255, 0.05);
      margin: 0;
    }
  }

  .band-config {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .item {
      display: flex;
      align-items: center;
      gap: 16px;

      .name {
        width: 20%;
        max-width: 260px;
        min-width: 125px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.9);
      }

      .value {
        display: flex;
        align-items: center;
        gap: 60px;

        .band-radio-wrapper {
          > span {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: rgba(255, 255, 255, 0.9);
          }

          .band-radio {
            margin-right: 8px;

            :global {
              .ant-radio-button-wrapper {
                border: none;
                width: 80px;
                height: 44px;
                padding: 0;
                text-align: center;
                background-color: #2f2f31;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 44px;
                color: rgba(255, 255, 255, 0.6);

                &:first-child {
                  border-radius: 16px 0 0 16px;
                }

                &:last-child {
                  border-radius: 0 16px 16px 0;
                }

                &::before {
                  display: none;
                }

                &:hover {
                  color: rgba(255, 255, 255, 0.9);
                }
              }

              .ant-radio-button-wrapper-checked {
                background: #484849;
                color: rgba(255, 255, 255, 0.9);
                border: none;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}

.bandwidth-value {
  display: flex;
  align-items: center;
  gap: 50px;

  .band-radio-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    .unit {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.9);
    }
  }
}
