.personal-container {
  padding: 1.221vw 0;

  > div {
    display: flex;
    width: 93.75vw;
    height: calc(100vh - 2.539vw);
    background: #101010;
    border-radius: 1.953vw;
    margin: 0 auto;
    padding: 1.465vw;
    padding-left: 0.977vw;
    position: relative;

    > nav {
      width: 21.826vw;
      height: calc(~'100% - 0.83vw');
      background: url('../../assets/images/personal/aside_bg.png');
      background-size: 100% 100%;
      padding-right: 4.492vw;
      padding-left: 0.977vw;
      padding-top: 0.83vw;

      ul {
        margin-top: 8.057vw;

        li {
          height: 3.516vw;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 1.172vw;
          line-height: 2.295vw;
          color: #ffffff;
          mix-blend-mode: normal;
          cursor: pointer;

          &:not(:first-child) {
            margin-top: 2.93vw;
          }

          .icon-box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.516vw;
            height: 3.516vw;
            background: rgba(69, 69, 69, 0.2);
            border: 0.065vw solid rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            margin-right: 1.221vw;

            i {
              position: absolute;
              z-index: 2;
            }
          }

          span {
            opacity: 0.5;
          }

          &.active {
            .icon-box::after {
              content: '';
              position: absolute;
              opacity: 0.5;
              width: 3.516vw;
              height: 3.516vw;
              border-radius: 50%;
              border: 0.065vw solid #fff;
              background: linear-gradient(
                222.27deg,
                #c441f4 53.77%,
                #00daea 83%
              );
              border-color: #fff;
            }

            span {
              opacity: 1;
            }
          }
        }
      }
    }

    .content {
      position: absolute;
      left: 21.61%;
      right: 1.56%;
      top: 2.5%;
      bottom: 2.5%;
      overflow: auto;
      background: rgba(255, 255, 255, 0.03);
      border: 0.049vw solid rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(4.883vw);
      border-radius: 0.928vw;
      padding: 2.441vw;
      padding-top: 1.367vw;
    }
  }
}
