.get-started-container {
  width: 100%;
  padding-bottom: 180px;

  > .lottie-animation {
    display: none;
  }

  .vision {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 82px 0 130px;
    position: relative;

    hgroup {
      flex: 1;
      padding-left: 50px;

      h1 {
        height: 96px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 96px;
        background: linear-gradient(90.59deg, #ffe4fb 0.51%, #dd5bcc 45.32%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }

      p {
        width: 465px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
      }

      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 13px;
        gap: 10px;
        width: 150px;
        height: 52px;
        background: linear-gradient(108.84deg, #ffaef5 1.57%, #dd5acc 62.72%);
        border-radius: 46px;
        outline: none;
        border: none;
        margin-top: 36px;
      }

      img {
        display: none;
      }
    }
  }

  .join {
    margin-top: 71px;

    hgroup {
      h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 52px;
        line-height: 78px;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        margin-bottom: 87px;
      }
    }

    .steps {
      display: flex;
      flex-direction: column;
      gap: 100px;
      position: relative;

      > section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        box-shadow: none;

        .text-info {
          width: 425px;

          h1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            leading-trim: both;
            text-edge: cap;
            color: #ffffff;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
            margin-bottom: 30px;
          }

          h2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            leading-trim: both;
            text-edge: cap;
            color: #ffffff;
            margin-bottom: 24px;
          }

          p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            leading-trim: both;
            text-edge: cap;
            color: #ffffff;
            opacity: 0.8;
          }
        }

        img {
          width: 459px;
        }
      }

      .step2 {
        flex-direction: row-reverse;

        .text-info {
          text-align: right;
        }
      }

      > section:hover {
        .text-info {
          h1 {
            leading-trim: both;
            text-edge: cap;
            background: linear-gradient(
              89.98deg,
              #ff85cf 72.82%,
              #c44cff 99.99%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
          }

          h2 {
            color: #ff7ccb;
          }

          p {
            color: #ff7ccb;
            opacity: 0.8;
          }
        }
      }

      .progress-bar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 6px;
        height: 1155px;
        background: linear-gradient(
          180deg,
          #101112 0%,
          #646464 54%,
          #101112 96%
        );
        border-radius: 5px;

        .bar {
          width: 100%;
          height: 100%;

          .active-bar {
            position: relative;
            width: 6px;
            background: linear-gradient(
              180deg,
              rgba(221, 90, 204, 0) 0%,
              #dd5acc 12.42%,
              #36e3ff 83.5%,
              rgba(54, 227, 255, 0) 100%
            );
            border-radius: 5px;

            .point {
              position: absolute;
              width: 28px;
              height: 28px;
              top: 100%;
              left: 50%;
              transform: translate(-50%, -50%);
              background: #b198e2;
              border-radius: 50%;
              border: 4px solid #ffffff;
              box-shadow: 0px 0px 23.2px 3px rgba(255, 255, 255, 0.47);
            }
          }
        }
      }
    }
  }

  .compute {
    margin-top: 120px;

    hgroup {
      margin-bottom: 120px;

      h1 {
        height: 78px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 52px;
        line-height: 78px;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
      }
    }

    .compute-info {
      display: flex;
      flex-direction: column;
      gap: 40px;

      > section {
        display: flex;
        justify-content: flex-start;

        > div {
          width: 562px;
          height: 210px;
          border-radius: 12px;
          display: flex;
          align-items: center;
          gap: 40px;
          padding: 45px 0;
          padding-left: 45px;
          position: relative;
          overflow: hidden;

          > div {
            h1 {
              height: 36px;
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 600;
              font-size: 24px;
              line-height: 36px;
              color: #ffffff;
              margin-bottom: 20px;
            }

            p {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #ffffff;
            }
          }
        }

        > div:hover {
          &::after {
            opacity: 1;
            transition: all 0.3s;
          }
        }
      }

      .ai {
        position: relative;
        height: 210px;

        .shadow {
          z-index: 1;
          position: absolute;
          width: 300px;
          height: 70px;
          left: 20%;
          top: 50%;
          background: linear-gradient(
            268.46deg,
            #f698ff 2.5%,
            rgba(251, 106, 232, 0) 93.2%
          );
          filter: blur(68.5px);
          transform: matrix(-1, 0.04, 0.1, 1, 0, 0);
        }

        > div {
          position: absolute;
          background-color: #000;
          z-index: 2;
        }

        > div:not(.shadow):hover {
          background-image: url('../../assets/images/get-started/ai_border.png');
          background-size: 100% 100%;
        }

        img {
          width: 120px;
          height: 120px;
        }
      }

      .ai-job {
        justify-content: flex-end;

        > div:hover {
          background-image: url('../../assets/images/get-started/ai_job_border.png');
          background-size: 100% 100%;
        }

        img {
          width: 97px;
          height: 149px;
        }
      }

      .point {
        > div:hover {
          background-image: url('../../assets/images/get-started/point_border.png');
          background-size: 100% 100%;
        }

        img {
          width: 137px;
          height: 74px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .get-started-container {
    width: 100%;
    padding-bottom: 21px;

    > .lottie-animation {
      display: flex;
      width: 100%;
    }

    .vision {
      margin-top: 45px;
      padding-top: 0;

      hgroup {
        padding: 0;
        width: 100%;

        h1 {
          text-align: center;
        }

        p {
          text-align: center;
          width: 100%;
          margin-top: 20px;
        }

        button {
          margin: 0 auto;
          margin-top: 45px;
        }

        img {
          display: block;
          width: 30px;
          margin: 0 auto;
          margin-top: 78px;
        }
      }

      .lottie-animation {
        display: none;
      }
    }

    .join {
      margin-top: 100px;

      hgroup {
        h1 {
          font-size: 24px;
          font-weight: 500;
        }
      }

      .steps {
        > section {
          margin-left: 34px;
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 100%;
          }

          .text-info {
            width: 100%;
            text-align: center;

            h1 {
              font-size: 18px;
              font-weight: 400;
              line-height: 22px;
              margin-bottom: 14px;
            }

            h2 {
              font-size: 16px;
              font-weight: 500;
              line-height: 19px;
              margin-bottom: 14px;
            }

            p {
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
            }
          }
        }

        .step2 {
          flex-direction: column;

          .text-info {
            text-align: center;
          }
        }

        .progress-bar {
          width: 3px;
          left: 0;

          .bar {
            .active-bar {
              width: 3px;

              .point {
                width: 14px;
                height: 14px;
              }
            }
          }
        }
      }
    }

    .compute {
      margin-top: 120px;

      hgroup {
        margin-bottom: 30px;

        h1 {
          font-size: 24px;
          font-weight: 500;
          line-height: 29.05px;
        }
      }

      .compute-info {
        gap: 17px;

        > section {
          width: 100%;

          > div {
            width: 100%;
            height: 125px;
            padding: 18px 0;
            padding-left: 20px;
            border-radius: 7.14px;
            gap: 24px;

            .img-box {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 90px;
              flex-shrink: 0;
            }

            > div {
              h1 {
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                margin-bottom: 8px;
              }

              p {
                font-size: 14px;
                font-weight: 400;
                line-height: 14.29px;
              }
            }
          }
        }

        .ai {
          height: 125px;

          img {
            width: 72px;
            height: 72px;
          }

          .shadow {
            display: none;
          }

          > div:not(.shadow) {
            background-image: url('../../assets/images/get-started/ai_android_border.png');
            background-size: 100% 100%;
          }
        }

        .ai-job {
          img {
            width: 52px;
            height: 80px;
          }

          > div:not(.shadow) {
            background-image: url('../../assets/images/get-started/ai_job_android_border.png');
            background-size: 100% 100%;
          }
        }

        .point {
          img {
            width: 89px;
            height: 48px;
          }

          > div:not(.shadow) {
            background-image: url('../../assets/images/get-started/point_android_border.png');
            background-size: 100% 100%;
          }
        }
      }
    }
  }
}
