.aside-wrapper {
  flex: 1;
  min-width: 300px;
  .aside-header {
    padding-block: 50px 20px;
    .aside-title {
      font-size: 1.8rem;
    }
  }
  .aside-content {
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: column;
    min-height: 350px;
    gap: 18px;
    section {
      display: flex;
      flex-direction: column;
      gap: 4px;
      .text__type {
        color: rgba(255, 255, 255, 0.4);
      }
      .text__content {
        display: flex;
        justify-content: space-between;

        .description {
          display: flex;
          align-items: center;
          gap: 12px;
          i {
            font-size: 1.15rem;
            border-radius: 8px;
            color: rgba(0, 225, 149, 1);
            background: rgba(52, 52, 52, 1);
            padding: 3px;
          }
          .text__description {
            color: #fff;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
          }
        }
        .price {
          color: #fff;
          font-weight: 700;
        }
      }
    }
    .instance-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      flex-direction: column;
      gap: 8px;
      img {
        width: 80px;
        height: 80px;
      }
      p {
        color: rgba(255, 255, 255, 0.4);
      }
    }
  }
  .aside-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text__price {
      font-size: 1.4rem;
      font-weight: 700;
      color: rgba(255, 140, 39, 1);
    }
    .btn-confirm {
      height: 45px;
      border-radius: 24px;
      font-weight: 600;
      background-color: rgba(255, 255, 255, 0.24);
      color: rgba(255, 255, 255, 0.5);
      transition: all ease 300ms;
      &:hover {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.24);
      }
    }
  }
}
