.main_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 24px;
}

.featured {
  flex: 1;
  position: relative;

  .featuredImage {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    .overlay {
      position: absolute;
      bottom: 0;
      height: 80px;
      width: 100%;
      color: white;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      backdrop-filter: blur(4px);
      background: rgba(0, 0, 0, 0.529);
    }

    .videoName {
      font-size: 16px;
    }

    .playIcon {
      font-size: 40px;
      color: orange;
      cursor: pointer;
      transition: all ease 300ms;
      &:hover {
        color: #ffd21e;
        scale: 1.1;
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  flex: 1;

  .videoCard {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #cccccc21;
    min-height: 250px;
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; /* Ocupa toda la tarjeta */
      height: 100%; /* Ocupa toda la tarjeta */
      object-fit: cover; /* Mantiene la proporción y cubre toda el área */
      object-position: center; /* Centra el video */
    }
    .overlay {
      position: absolute;
      bottom: 0;
      height: 60px;
      width: 100%;
      backdrop-filter: blur(4px);
      background: rgba(0, 0, 0, 0.529);
      color: white;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        max-width: 30ch;
        padding-block: 3px;
      }
      .overlay_text {
        font-size: 0.75rem;
        max-width: 85%;
      }
    }
    .cardIcon {
      font-size: 16px;
      color: orange;
      font-size: 20px;
      transition: all ease 300ms;
      cursor: pointer;
      &:hover {
        color: #ffd21e;
        scale: 1.1;
      }
    }
  }
}
//button play
.fakeBullet {
  position: relative;
  padding-left: 20px;
  font-size: 1.2rem;
  margin-top: 30px;
  &::before {
    content: '';
    position: absolute;
    top: 0.6em;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
  }
}
//modal
.customModal {
  video {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
  :global {
    .ant-modal-header {
      border-radius: 12px 12px 0 0;
      background: #3e3e3e13;
      backdrop-filter: blur(4px);
    }

    .ant-modal-content {
      background: #3e3e3e6c;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      border-radius: 12px;
    }
    .ant-modal-body {
      backdrop-filter: blur(18px);
      max-height: 70vh;
      overflow-y: auto;

      border-radius: 0 0 12px 12px;
    }
  }
}

@media screen and (max-width: 740px) {
  .container {
    display: flex;
    flex-direction: column;

    gap: 24px;
  }
  .grid {
    .videoCard {
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid #cccccc21;
      min-height: 250px;

      .overlay {
        position: absolute;
        bottom: 0;
        height: 45px;
        width: 100%;
        backdrop-filter: blur(4px);
        background: rgba(0, 0, 0, 0.529);
        color: white;
        padding: 10px;

        .overlay_text {
          font-size: 0.55rem;
          max-width: 85%;
        }
      }
    }
  }
}
