.socials-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  div {
    cursor: pointer;
    width: 34px;
    height: 34px;
    position: relative;

    &::after {
      content: '';
      display: block;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &:hover {
      &::after {
        border: 1px solid #c7f284;
      }
    }
  }

  .x {
    background: url('../../assets/images/icons/x.png') center center / contain
      no-repeat;
  }

  .discord {
    background: url('../../assets/images/icons/discord.png') center center /
      contain no-repeat;
  }

  .github {
    background: url('../../assets/images/icons/github.png') center center /
      contain no-repeat;
  }
}
