.warning-box {
  border: 1px solid #cccccc8f;
  padding: 14px 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: rgba(255, 255, 255, 0.751);
  i {
    color: orange;
  }
  .bind {
    color: skyblue;
    cursor: pointer;
    margin-inline: 8px;
    transition: all 200ms ease;
    &:hover {
      color: aqua;
      text-decoration: underline;
    }
  }
}
