.connect-btn {
  height: 45px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 18px;
  background: transparent;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  border: 1px solid #878787;
  color: #fff;
  border-radius: 4px;
  text-wrap: nowrap;
  .icon {
    color: orange !important;
  }
}
