.identity-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 24px;
  .cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
.text--blue {
  color: #73d5f4;
}
.text-title {
  font-size: 1.8rem;
  font-weight: 600;
}
