.title {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
}
.time-period {
  color: #ffffff66;
  margin-right: 40px;
}
