.title {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
}
.create-btn {
  width: 109px;
  height: 40px;
  background: linear-gradient(275.81deg, #72deff 18.68%, #ffebe7 100%);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000;
  border-radius: 20px;
}
.table {
  margin-top: 32px;
  :global {
    .ant-table-container table {
      .ant-table-thead {
        tr {
          th {
            &:first-child,
            &:nth-child(2),
            &:last-child {
              background: transparent;
            }
            .operation,
            .name {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 160px;
              height: 38px;
              padding: 16px 10px 16px 10px;
              gap: 4px;
              border-radius: 50px;
              background-blend-mode: lighten;
              background: #ffffff0f;
              background-blend-mode: color-dodge;
              background: #5e5e5e2e;
            }
            .operation {
              margin: 0 10px;
            }
            .status {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 60px;
              min-width: fit-content;
              height: 38px;
              padding: 0 10px;
              border-radius: 500px;
              background: #5e5e5e2e;
              background-blend-mode: color-dodge;
              margin: 0 10px;
            }
            &:nth-child(3) {
              border-radius: 30px 0 0 30px;
            }
            &:nth-child(9) {
              border-radius: 0 30px 30px 0;
            }
          }
        }
      }
      .ant-table-tbody {
        tr {
          td {
            &:first-child {
              color: #fff;
            }
            &:last-child {
              a {
                color: #73d5f4;
              }
            }
          }
          .status-created {
            color: #fff;
          }
          .status-allow {
            color: #7ce2b6;
          }
          .status-refuse {
            color: #ee385c;
          }
          .status-offline {
            color: #ffffff66;
          }
        }
      }
      .ant-table-cell {
      }
    }
  }
}
