.card {
  background: #111;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: white;
}

.line {
  margin-bottom: 8px;
  font-size: 14px;
}

.paid {
  color: #00e3b2;
}

.footer {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 10px;
  font-weight: bold;
}

.stake {
  color: rgba(255, 255, 255, 0.3);
}

.refund {
  color: #3fbfff;
  cursor: pointer;
}
