#container {
  width: 100vw;
  overflow-x: clip;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
    }

    .tabs {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
      padding: 0px 16px;
      width: 395px;
      height: 36px;
      border: 1px solid #fff;
      border-radius: 20px;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
    }
  }

  main {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  footer {
    .links-container {
      display: flex;
      gap: 140px;

      > div {
        display: flex;
        flex-direction: column;
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;

        > div,
        > a {
          margin-bottom: 12px;
        }

        > div {
          font-size: 15px;
          color: #fff;
        }

        a {
          cursor: pointer;
        }
      }
    }

    .related-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 30px;
      margin-bottom: 30px;
      margin-top: 0px;
      border-bottom: 1px solid rgba(245, 245, 255, 0.1);
    }
  }
}

@media (min-width: 1440px) {
  #container {
    max-width: 1440px;
  }
}

@media (min-width: 600px) {
  #container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
