.card {
  width: 420px;
  height: 390px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transform: scaleY(-1); // Voltear verticalmente igual que folder
  border-radius: 5px 25px 25px 25px;
  border: 2px solid #676767;
  filter: drop-shadow(0 0 0.75rem rgba(128, 128, 128, 0.629));
  background: #2a2a2a11;
  backdrop-filter: blur(4px);
  position: relative;
  padding: 20px;
  &::after {
    content: '';
    position: absolute;
    z-index: 5;
    right: -50%;
    bottom: 52%;
    width: 50.5vw;
    height: 30vw;
    background: url('../../../assets/images/company/coin.png');
    background-size: cover;
    background-size: 100% 100%;
  }
  &::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -2px;
    width: 50%;
    height: 30px;
    border: 2px solid #676767;

    background: #2a2a2a11;
    backdrop-filter: blur(4px);
    border-radius: 25px 25px 0 0;
  }

  > * {
    transform: scaleY(-1);
  }
  .gpuSelect {
    padding: 12px 0px;
    border-bottom: 1px solid #ccc;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    .selectButton {
      width: 100%;
      border: none;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      transition: all ease 250ms;
      &:hover {
        color: #ccc;
      }
    }
    .select {
      width: 100%;
      :global {
        .ant-select-selector {
          border: none !important;
          box-shadow: none !important;
          background: transparent;

          &:hover,
          &:focus {
            border: none !important;
            box-shadow: none !important;
          }
        }
      }
    }
  }
  .button {
    width: 120px;
    border-radius: 999px;
    height: 40px;
  }
  .income {
    margin-bottom: 25px;
    .estimated {
    }
    .amount {
      display: flex;
      align-items: baseline;
      font-weight: 700;
      font-size: 3.5rem;
      .token {
        font-size: 0.8rem;
      }
    }
  }
}
.table {
  background: #2a2a2a61;
  backdrop-filter: blur(4px);

  margin-inline: auto;

  :global {
    .ant-table {
      background: transparent;
      border: 2px solid rgba(148, 148, 148, 0.644);
      border-radius: 20px;
      overflow: hidden;
    }

    .ant-table-thead {
      tr > th {
        background: linear-gradient(180deg, #1a1a1abc 0%, #0f0f0fbd 100%);
        color: #999;
        font-weight: 500;
        padding-block: 18px;
        backdrop-filter: blur(15px);

        border-bottom: 1px solid #2e2e2e !important;
      }
    }
    .ant-table-tbody > tr > td {
      background: transparent;
      color: #fff;
      font-weight: 600;
      padding-block: 18px;
      border-bottom: none !important;
      cursor: pointer;
      background: #00000077;
      backdrop-filter: blur(4px);
    }

    .ant-table-tbody > tr:hover > td {
      background-color: #141414 !important;
    }
  }
  .cost {
    color: #00e0ff;
    font-weight: 600;
  }

  .model {
    font-weight: 600;
    color: #fff;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;

  .dropdown {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #4d4d4df3;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto;
    padding: 8px 0;

    .option {
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.15s;
      width: 100%;

      &:hover {
        background-color: #6f6e6e53;
      }
    }
  }
}
