.footer {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  margin-top: 40px;
  border-top: 1px solid #8b8b8b4c;
  padding-inline: 12%;
  .header-left {
    transform: scale(0.5);
    .logo {
      transform: translateX(-80px);
    }
  }
  .text {
    font-size: 0.7rem;
  }
}
