.header-wrapper {
  padding-bottom: 22px;
  margin-bottom: 6px;
  border-bottom: 1px solid #767676;
  padding-inline: 50px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  header {
    display: flex;
    align-items: center;
    h1 {
      font-size: 2.2rem;
      color: #fff;
      font-weight: 600;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
}
.title > div {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 3px;
}
.title > h1 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
}
.title p {
  font-size: 1rem;
  color: #b5b5b5ad;
}
.title i {
  color: #e2e2e2ad;
  cursor: pointer;
  font-size: 1.2rem;
}
.create-btn {
  width: 109px;
  height: 40px;
  background: linear-gradient(275.81deg, #72deff 18.68%, #ffebe7 100%);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000;
  border-radius: 20px;
}
.card-table {
  background-color: #0d0d0dad !important;
  border-radius: 6px !important;
  margin-block: 22px;
  padding-block: 15px;
  margin-inline: 30px;
  :global {
    .ant-card-body {
      padding: 12px 0;
    }
  }
}

.search-input {
  border: none;
  flex-grow: 1;
  outline-style: none;
  width: 100%;

  background: #27272892;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 1.25vw;
  padding-left: 0.833vw;

  :global {
    .ant-input-prefix {
      margin-right: 0.488vw;
    }
  }
}
.buttons {
  display: flex;
  align-items: center;

  height: 100%;
  gap: 8px;
  padding: 4px;
  .connect-btn {
    height: 35px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 18px;
    background: transparent;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    border: 1px solid #878787;
    color: #fff;
    border-radius: 4px;
    text-wrap: nowrap;
    transition: all ease 250ms;
    cursor: pointer;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
}
.button {
  border: none;
  cursor: pointer;
}

.table-instance {
  margin: 12px;

  :global {
    .ant-table {
      background: transparent !important;
    }
    .ant-table-container table {
      border-spacing: 0 8px !important;
      border-collapse: separate !important;
      .ant-table-thead {
        tr > th {
          background: #0f0f0f !important;
          margin: 0;
          height: 40px;
          padding: 12px 10px;
          border: none;
        }
      }

      .ant-table-tbody {
        tr {
          background: #1a1a1a; // añade fondo a cada fila
          border-radius: 10px;
          overflow: hidden;
          border-radius: 12px;
          td {
            padding: 12px;
            border: none;
            // background: transparent;

            &:last-child {
              a {
                color: #73d5f4;
              }
              .recent-status {
                color: #828283;
                cursor: not-allowed;
              }
            }
          }

          .status {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 0.7rem;
          }

          .status-running {
            color: green;
          }
          .status-expired {
            color: red;
          }
          .status-expiring-soon {
            color: yellow;
          }
          .status-stopped {
            color: orange;
          }
          .status-question {
            color: #ebe061;
          }

          .ellipsis {
            text-overflow: ellipsis;
            text-wrap: nowrap;
          }
        }
        tr > td:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        tr > td:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
    .ant-pagination {
      display: flex;
      align-items: center;
      gap: 0.417vw;
      justify-content: center;
      margin-bottom: 0;

      .ant-pagination-prev,
      .ant-pagination-next,
      .ant-pagination-item {
        width: 2.5vw;
        height: 2.5vw;
        background: rgba(249, 250, 251, 0.15);
        border-radius: 0.313vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .ant-pagination-next,
      .ant-pagination-prev {
        .ant-pagination-item-link {
          color: rgba(255, 255, 255, 0.64);
          border: none;
          font-size: 0.781vw;
        }
      }

      .ant-pagination-item {
        border: none;

        a {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 1.094vw;
          line-height: 1.719vw;
          color: #ffffff;
        }

        &:hover {
          border: none;
        }
      }

      .ant-pagination-item-active {
        background: linear-gradient(148.03deg, #fcc7bc -6.41%, #73d5f4 99.6%);

        a {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 1.094vw;
          line-height: 1.719vw;
          color: #333333;
        }
      }
    }
  }
}

.instances {
  padding-inline: 6px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 22px;
}
.pagination-wrapper {
  width: 100%;
  margin-top: 2.448vw;
  height: 2.5vw;

  :global {
    .ant-pagination {
      display: flex;
      align-items: center;
      gap: 0.417vw;
      justify-content: center;
      margin-bottom: 0;

      .ant-pagination-prev,
      .ant-pagination-next,
      .ant-pagination-item {
        width: 2.5vw;
        height: 2.5vw;
        background: rgba(249, 250, 251, 0.15);
        border-radius: 0.313vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .ant-pagination-next,
      .ant-pagination-prev {
        .ant-pagination-item-link {
          color: rgba(255, 255, 255, 0.64);
          border: none;
          font-size: 0.781vw;
        }
      }

      .ant-pagination-item {
        border: none;

        a {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 1.094vw;
          line-height: 1.719vw;
          color: #ffffff;
        }

        &:hover {
          border: none;
        }
      }

      .ant-pagination-item-active {
        background: linear-gradient(148.03deg, #fcc7bc -6.41%, #73d5f4 99.6%);

        a {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 1.094vw;
          line-height: 1.719vw;
          color: #333333;
        }
      }
    }
  }
}
.operation-action {
  cursor: pointer;
  transition: all 200ms ease;
}
.operation-action:hover {
  opacity: 0.7;
  text-decoration: underline;
}
.error-bounce {
  color: rgb(165, 0, 0);
  animation: pulse 3s infinite !important;
}

@keyframes pulse {
  0% {
    color: rgb(165, 0, 0);
    scale: 1;
  }
  25% {
    color: rgb(255, 54, 54);

    scale: 1.001;
  }
  50% {
    color: rgb(165, 0, 0);
    scale: 1;
  }
  75% {
    color: rgb(255, 54, 54);

    scale: 1.001;
  }
  100% {
    color: rgb(165, 0, 0);
    scale: 1.001;
  }
}

.meodal-status {
  .ant-modal {
    border-radius: 20px !important;
  }
}

@media (max-width: 680px) {
  .title {
    margin-block: 12px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .card-table {
    padding: 4px;
  }
  .search-input {
    font-size: 0.9rem;
  }
}
.icon-loading {
  i {
    display: inline-block;
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.status-starting {
  color: #ebe061;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.7rem;
  animation: pulse 1.2s infinite ease-in-out;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
