:root {
  --white-color: #fff;
  --container-color: hsl(210, 20%, 6%);

  --hue-1: 180;
  --hue-2: 50;
}
.checkbox-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 8px;

  .checkbox-item {
    --hue-1: 180;
    --hue-2: 100;
    flex: 1 1 22%;
    max-width: 22%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    font-size: 0.8rem;
    border-radius: 8px;
    background: #141414;
    cursor: pointer;
    min-height: 60px;
  }
}

@media (max-width: 992px) {
  .checkbox-grid {
    .checkbox-item {
      flex: 1 1 45%;
      max-width: 45%;
    }
  }
}

@media (max-width: 576px) {
  .checkbox-grid {
    .checkbox-item {
      flex: 1 1 48%;
      max-width: 48%;
    }
  }
}
.active-item {
  position: relative;
}
.active-item::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';

  background: radial-gradient(
    circle at bottom right,
    hsl(220, 50%, 50%) -100%,
    hsl(220, 25%, 10%) 40%
  ) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.active-item {
  position: relative;
  overflow: hidden; /* Asegura que el efecto no desborde */
  border: 1px solid rgba(135, 207, 235, 0.703);
  border-radius: 4px;
}
.active-item > * {
  position: relative;

  z-index: 1; /* Asegura que el texto quede arriba */
}
.load-box {
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
