.header {
  display: flex;
  align-items: center;
  padding-bottom: 1.367vw;
  border-bottom: 0.098vw solid rgba(222, 222, 222, 0.4);

  .points {
    display: flex;
    align-items: center;
    margin-right: 2.93vw;

    span {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 1.172vw;
      line-height: 1.416vw;
      text-align: center;
      color: #ffffff;
    }
  }

  .nodes {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: inline-block;
      margin-right: 0.488vw;
      background-color: #00f453;
      border-radius: 50%;
      width: 0.586vw;
      height: 0.586vw;
    }
  }

  .search {
    margin-right: 1.953vw;
  }

  .docs {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.172vw;
    line-height: 1.416vw;
    text-align: center;
    color: #ffffff;
    margin-right: 1.953vw;
    cursor: pointer;
    gap: 0.977vw;
  }

  .connect-account {
    .connect-button {
      width: 9.229vw;
      height: 2.637vw;
      background: #dd5acc;
      border-radius: 0.488vw;
      outline: none;
      border: none;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 0.781vw;
      line-height: 0.928vw;
      text-align: center;
      letter-spacing: 0.098vw;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

.android-header {
  display: none;
}

.deploy-node {
  margin-top: 0.977vw;

  .next-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.371vw;
    background: #212223;
    border-radius: 0.651vw;
    padding: 0 1.465vw;

    .steps {
      width: 37.207vw;

      :global {
        .ant-steps {
          .ant-steps-item {
            .ant-steps-item-icon {
              border: none;
              margin: 0;
              width: 2.441vw;
              height: 2.441vw;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              background-color: #424344;

              .ant-steps-icon {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 1.172vw;
                color: #ffffff;
              }
            }

            .ant-steps-item-content {
              .ant-steps-item-title::after {
                top: 1.221vw;
                background: rgba(255, 255, 255, 0.16);
              }
            }
          }

          .ant-steps-item-finish {
            .ant-steps-item-icon {
              background-color: #dd5acc;

              .ant-steps-icon {
                color: #fff;
              }
            }

            .ant-steps-item-content {
              .ant-steps-item-title::after {
                background: #dd5acc;
              }
            }
          }

          .ant-steps-item-active {
            .ant-steps-item-icon {
              background-color: #dd5acc;
            }
          }
        }
      }
    }
  }

  .button-box,
  .android-button-box {
    display: flex;
    align-items: center;
    gap: 0.488vw;

    button {
      width: 9.229vw;
      height: 2.637vw;
      background: #dd5acc;
      border-radius: 0.488vw;
      outline: none;
      border: none;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 0.781vw;
      line-height: 0.928vw;
      text-align: center;
      letter-spacing: 0.098vw;
      color: #ffffff;
      cursor: pointer;
    }
  }

  .android-button-box {
    display: none;
  }
}

.android-tip {
  display: none;
}

.sys-choice,
.gpu-check,
.run-node {
  hgroup {
    margin: 5px;
    h1 {
      color: #ffffff;
      font-family: 'Poppins';
      font-size: 32px;
      line-height: 48px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: capitalize;
    }
    .run-node__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .node-desc {
        color: #62626280;
        font-family: 'Poppins';
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: capitalize;
      }
    }
  }
}

//

.run-node {
  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;

    section {
      display: flex;

      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      align-self: stretch;
      background: transparent;

      h1 {
        font-size: 16px;
        font-weight: 600;
        color: #73d5f4;
        font-family: 'Poppins';
        margin: 0;
        padding: 0;
      }

      h2 {
        color: #8d8d8d;
        font-family: 'Poppins';
        font-size: 16px;
        margin-bottom: 0;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        margin-top: 15px;
      }

      > p {
        margin: 10px 0;
      }
    }

    // .link {
    //   > div {
    //     display: flex;
    //     padding: 16px;
    //     justify-content: space-between;
    //     align-items: center;
    //     align-self: stretch;
    //     border-radius: 16px;
    //     background: #00000040;

    //     gap: 12px;

    //     p {
    //       flex: 1;
    //       color: #ffffff;
    //       font-family: 'Poppins';
    //       font-size: 14px;
    //       font-style: normal;
    //       font-weight: 400;
    //       line-height: normal;
    //     }

    //     a {
    //       font-size: 16px;
    //       color: #fff;

    //       &:hover {
    //         color: #999;
    //       }
    //     }
    //   }

    //   ul {
    //     padding: 16px;
    //     list-style-type: circle;
    //     list-style-position: inside;

    //     li {
    //       margin-bottom: 10px;
    //     }
    //   }
    // }

    .run-command {
      > div {
        display: flex;
        padding: 12px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
        border-radius: 16px;
        background: #ffffff26;

        h3 {
          color: #ffffff;
          font-family: 'Poppins';
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: capitalize;

          i {
            display: none;
          }
        }

        .code-area {
          display: flex;
          padding: 24px 12px;
          // justify-content: center;
          align-items: center;
          flex: 1 0 0;
          align-self: stretch;
          border-radius: 16px;
          background: #00000040;
          position: relative;

          span {
            color: #ffffff80;
            font-family: 'Poppins';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
          }

          i {
            display: block;
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 16px;
            color: #fff;
            cursor: pointer;

            &:hover {
              color: #999;
            }
          }
        }
      }

      ul {
        padding: 16px;
        list-style-type: circle;
        list-style-position: inside;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .sys-choice,
  .gpu-check,
  .run-node {
    hgroup {
      margin-top: 5px;

      h1 {
        font-size: 20px;
      }

      span {
        font-size: 14px;
      }
    }
  }

  .sys-choice {
    padding-bottom: 16px;

    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
      margin-top: 16px;

      li {
        gap: 13px;
        display: flex;
      }

      li.active {
        background: #fff;

        span {
          color: #333333;
        }
      }
    }

    .sys-list {
      > li {
        width: 100%;
      }
    }

    .gpu-cpu {
      padding-bottom: 24px;

      li {
        width: 100%;
        padding: 0;
        height: 62px;
        align-items: center;
        justify-content: center;

        span {
          font-size: 20px;
        }
      }
    }
  }

  .run-node {
    .content {
      margin: 16px 0;
      gap: 16px;

      .run-command {
        > div {
          h3 {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            i {
              display: block;
              font-size: 16px;
              color: #fff;
              cursor: pointer;

              &:hover {
                color: #999;
              }
            }
          }

          .code-area {
            i {
              display: none;
            }
          }
        }
      }
    }
  }
}
.location-btn {
  display: flex;
  font-size: 12px;
  cursor: pointer;
}
.run-nodes-wrapper {
  border-radius: 20px;
  border: none;
  background: transparent;

  :global {
    .ant-card-head {
      border: none;
      padding: 0;
      .ant-card-head-title {
        font-size: 16px;
        font-weight: 600;
        color: #73d5f4 !important;
        padding-bottom: 3px !important;
      }
    }
    .ant-card-content {
      padding: 0;
    }
    .ant-card-body {
      gap: 12px;
      padding: 0 !important;
    }
  }
}

.token_id {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 600;
  margin-top: 18px;
  padding: 12px 14px;
  border: 1px solid #8d8d8da0;
  margin-bottom: 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
  i {
    color: orange;
    cursor: pointer;
    transition: all ease 200ms;
    &:hover {
      color: red;
    }
  }
  :global {
    .ant-typography pre {
      padding: 0;
      margin-top: 0 !important;
    }
    .ant-typography {
      padding: 0;
      margin-top: 0 !important;
    }
  }
}
.token_id_f {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  font-weight: 600;
  margin-top: 12px;
  padding: 0px;
  border: 1px solid #8d8d8da0;
  margin-bottom: 25px;
  font-size: 0.8rem;

  i {
    color: orange;
    cursor: pointer;
    transition: all ease 200ms;
    &:hover {
      color: red;
    }
  }
  :global {
    .ant-typography pre {
      padding: 0;
    }
  }
}

.token_id_mark {
  padding: 0;
  margin: 0;
  width: 100%;
  background: transparent;
  font-size: 0.8rem;
  pre,
  div {
    padding: 0;
    background: transparent;
    margin: 0;
    height: min-content;
  }
  pre {
    div {
      padding: 7px !important;
      background: transparent !important;
      margin: 0;
    }
  }
}

.icon-orange {
  color: orange !important;
}
.icon-blue {
  color: rgb(36, 128, 249) !important;
}
