:global {
  #node:checked ~ nav::after {
    transform: translateX(0.833vw);
  }

  #points:checked ~ nav::after {
    transform: translateX(20.833vw);
  }
}

.explore-container {
  .slogan {
    margin-top: 3.021vw;
    width: 100%;
    height: 30.313vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      width: 54.427vw;
      height: 100%;
      padding: 3.906vw 0 0 6.25vw;
      flex-shrink: 0;

      h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 4.167vw;
        line-height: 4.479vw;
        color: #ffffff;
        text-shadow: 0vw 0.208vw 2.604vw rgba(0, 0, 0, 0.8);
      }
    }

    .right {
      flex: 1;
      height: 100%;
      overflow: hidden;
      position: relative;

      .shadow {
        position: absolute;
        width: 10.417vw;
        height: 100%;
        left: -2.604vw;
        top: 0;
        z-index: 2;
        background: linear-gradient(
          90deg,
          #000000 38.21%,
          rgba(0, 0, 0, 0) 100%
        );
      }

      .user-credits-info {
        display: flex;
        align-items: center;
        padding: 0.625vw 0.833vw;
        gap: 0.521vw;
        width: 15.417vw;
        height: 3.125vw;
        // background: radial-gradient(31.36% 94.64% at 106.21% -52.68%, #73D5F4 0%, rgba(115, 213, 244, 0) 100%)
        //   /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        //   , rgba(0, 0, 0, 0.005);
        // backdrop-filter: blur(2.318vw);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 3.177vw;
        overflow: hidden;
        background: url('../../assets/images/explore/user_get_points.png')
          no-repeat;
        background-size: 100%;

        i {
          width: 1.875vw;
          height: 1.875vw;
          background: url('../../assets/images/explore/avatar.png') no-repeat;
          background-size: 100% 100%;
          border-radius: 50%;
        }

        span {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 300;
          font-size: 0.833vw;
          line-height: 1.25vw;
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
}

.nav-wrapper {
  input[type='radio'] {
    display: none;
  }

  nav {
    width: 41.667vw;
    height: 5vw;
    padding: 0.833vw;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.521vw);
    border-radius: 5.208vw;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0.833vw;
      left: 0;
      transform: translateX(0.833vw);
      display: block;
      width: 20vw;
      height: 3.333vw;
      background: #ffffff;
      box-shadow: 0vw 0vw 0.625vw rgba(255, 255, 255, 0.25);
      border-radius: 1.667vw;
      transition: 0.5s all cubic-bezier(0.42, 0, 0.68, 1.35);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      height: 3.333vw;
      position: relative;
      z-index: 10;
      cursor: pointer;

      li {
        width: 20vw;
        height: 100%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 1.25vw;
        /* identical to box height */
        color: #fff;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;

        label {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }

      li.active {
        color: #000000;
      }
    }
  }
}

.wrapper {
  width: 79.167vw;
  margin: 0 auto;

  h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.708vw;
    line-height: 4.063vw;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0vw 0vw 0.521vw rgba(255, 255, 255, 0.25);
    margin-bottom: 4.167vw;
  }
}

.node-running {
  margin-top: 6.25vw;

  .content {
    display: flex;
    justify-content: space-between;

    :global {
      .ant-statistic {
        width: 25vw;
        height: 16.042vw;
        background: url('../../assets/images/explore/statistic_bg.png');
        background-size: 100% 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 0.208vw;
        padding-bottom: 4.063vw;

        .ant-statistic-content {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 700;
          font-size: 3.75vw;
          line-height: 5.625vw;
          /* identical to box height */
          text-align: center;
          background: linear-gradient(
            90deg,
            #ffffff 0%,
            #fcc7bc 33.44%,
            #73d5f4 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          text-shadow: 0vw 0vw 0.594vw rgba(255, 255, 255, 0.1);
        }

        .ant-statistic-title {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 1.25vw;
          line-height: 1.406vw;
          /* identical to box height, or 112% */
          text-align: center;
          letter-spacing: 0.035vw;
          color: #ffffff;
          opacity: 0.5;
        }
      }
    }
  }
}

.node-overview {
  margin-top: 8.333vw;

  .content {
    width: 100%;
    height: 42.917vw;
    padding: 3.229vw;
    padding-left: 0.521vw;
    display: flex;
    align-items: center;

    .echart-wrapper {
      flex: 1;
      height: 100%;
    }

    .device-wrapper {
      width: 38.854vw;
      height: 100%;
      flex-shrink: 0;
      padding: 3.646vw 3.906vw 0;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 2.5vw;

        .th {
          font-family: 'PingFang SC';
          font-style: normal;
          font-weight: 600;
          font-size: 1.458vw;
          line-height: 2.5vw;
          color: rgba(255, 255, 255, 0.5);
        }
      }

      .body {
        margin-top: 3.333vw;
        display: flex;
        flex-direction: column;
        gap: 2.5vw;

        .td {
          height: 1.875vw;
          display: flex;
          align-items: center;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 1.25vw;
          line-height: 1.875vw;
          color: #ffffff;

          &::before {
            content: '';
            display: block;
            width: 0.833vw;
            height: 0.833vw;
            border-radius: 50%;
            background: var(--color);
            opacity: var(--opacity);
            margin-right: 1.042vw;
          }

          i {
            flex-shrink: 0;
            margin-right: 0.625vw;
          }

          .nvidia {
            font-size: 0.833vw;
            color: #76b900;
          }

          .macos {
            font-size: 1.302vw;
          }

          .name {
            flex: 1;
          }

          .value {
            width: 7.552vw;
            text-align: right;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}

.node-points {
  margin-top: 7.5vw;

  .filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.083vw;
    margin-top: 4.167vw;

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 8.333vw;
      height: 3.333vw;
      background: rgba(255, 255, 255, 0.07);
      backdrop-filter: blur(2.318vw);
      border-radius: 3.177vw;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 1.146vw;
      line-height: 1.719vw;
      color: #ffffff;
      cursor: pointer;
    }

    .active {
      background: #ffffff;
      color: #000000;
    }
  }

  .device-list {
    font-size: 0.625vw;
    margin-top: 6.25vw;
    position: relative;

    :global {
      .ant-list-items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4.117vw;

        .ant-list-item {
          width: 12.5vw;
          height: 15.521vw;
          background: url('../../assets/images/explore/device_item_bg.png');
          background-size: 100% 100%;
          backdrop-filter: blur(0.521vw);
          /* Note: backdrop-filter has minimal browser support */
          border-radius: 1.042vw;
          padding-top: 2.083vw;

          &:hover {
            background: url('../../assets/images/explore/device_item_active_bg.png');
            background-size: 100% 100%;
          }
        }
      }
    }

    .device-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        width: 6.25vw;
        height: 6.25vw;
        background: #0a0a0a;
        border-radius: 0.625vw;
        display: flex;
        align-items: center;
        justify-content: center;

        .nvidia {
          font-size: 2.917vw;
          color: #76b900;
        }

        .macos {
          font-size: 3.75vw;
        }

        .cpu {
          font-size: 3.125vw;
        }
      }

      .name {
        margin-top: 2.083vw;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 0.938vw;
        line-height: 1.302vw;
        color: #ffffff;
      }

      .price {
        margin-top: 0.417vw;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 0.938vw;
        line-height: 1.302vw;
        color: #73d5f4;
      }
    }

    .load-more {
      position: absolute;
      width: 100%;
      height: 15.521vw;
      background: linear-gradient(0deg, #000000 38.21%, rgba(0, 0, 0, 0) 100%);
      bottom: 0;
      left: 0;
      padding-top: 11.458vw;
      text-align: center;

      span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 1.042vw;
        line-height: 1.563vw;
        text-align: center;
        color: #73d5f4;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 53.333vw) {
}
