.sys-choice {
  .sys-title {
    text-align: left;
    font-size: 1.3rem;
    margin-top: 12px;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 24px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 12px;
      border-radius: 4px;
      background: #222;
      border: 1px solid #ffffff24;
      backdrop-filter: blur(25px);
      cursor: pointer;

      span {
        color: #fff;
        font-family: 'Poppins';
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: capitalize;
      }
    }

    li.active {
      background: rgba(27, 64, 73, 0.847);

      span {
        color: #ffffff;
      }
    }
  }

  .sys-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px; // Espacio entre elementos
    padding: 0;
    margin-top: 12px;
    > li {
      height: 180px;
      padding: 20px;

      transition: all 0.3s;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      text-align: left;
      background-color: #222; // Fondo de prueba
      border-radius: 10px;

      i {
        font-size: 70px;
        flex: 1;
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: end;
        color: #767676;
        transition: all 0.3s;
      }
    }

    .active {
      i {
        color: #fff;
      }
    }
  }

  .gpu-cpu {
    margin: 12px 0 0 0;
    padding: 0;
    li {
      padding: 16px 80px;

      span {
        font-size: 24px;
      }
    }
  }
}

.gpu-check {
  .gpu-list {
    margin-top: 24px;
    display: flex;
    padding: 14px;

    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #ffffff40;
    background: #ffffff1a;
    backdrop-filter: blur(25px);

    li {
      display: flex;
      padding: 12px;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      border-radius: 4px;
      background: transparent;
      color: #ffffff;
      font-family: 'Poppins';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      transition: all 0.3s;
    }

    li.active {
      background: #ffffff26;
    }

    li:hover {
      background: rgba(255, 255, 255, 0.049);
      transition: all 0.3s;
    }
  }

  .tip {
    margin-top: 24px;
    color: #ffffff80;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;

    .contact {
      color: #ffffff;
      font-family: 'Poppins';
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: capitalize;
      text-decoration-line: underline;
      cursor: pointer;
    }
  }
}
