i {
  display: inline-block;
}

.exit {
  width: 31px;
  height: 24px;
  background: url('../../assets/images/icons/exit.png');
  background-size: 100% 100%;
}

.branch {
  width: 31px;
  height: 24px;
  background: url('../../assets/images/icons/branch.png');
  background-size: 100% 100%;
}

.docs {
  width: 31px;
  height: 24px;
  background: url('../../assets/images/icons/docs.png');
  background-size: 100% 100%;
}

.node-status {
  width: 31px;
  height: 24px;
  background: url('../../assets/images/icons/node_status.png');
  background-size: 100% 100%;
}

.points {
  width: 31px;
  height: 24px;
  background: url('../../assets/images/icons/points.png');
  background-size: 100% 100%;
}

.search {
  width: 25px;
  height: 25px;
  background: url('../../assets/images/icons/search.png');
  background-size: 100% 100%;
}

.gpu {
  width: 33px;
  height: 33px;
  background: url('../../assets/images/icons/gpu.png');
  background-size: 100% 100%;
}

.downturn {
  width: 16px;
  height: 16px;
  background: url('../../assets/images/icons/downturn.png');
  background-size: 100% 100%;
}

.uptrend {
  width: 16px;
  height: 16px;
  background: url('../../assets/images/icons/uptrend.png');
  background-size: 100% 100%;
}
