i {
  display: inline-block;
}

.exit {
  width: 1.615vw;
  height: 1.25vw;
  background: url('../../assets/images/icons/exit.png');
  background-size: 100% 100%;
}

.branch {
  width: 1.615vw;
  height: 1.25vw;
  background: url('../../assets/images/icons/branch.png');
  background-size: 100% 100%;
}

.docs {
  width: 1.615vw;
  height: 1.25vw;
  background: url('../../assets/images/icons/docs.png');
  background-size: 100% 100%;
}

.node-status {
  width: 1.615vw;
  height: 1.25vw;
  background: url('../../assets/images/icons/node_status.png');
  background-size: 100% 100%;
}

.points {
  width: 1.615vw;
  height: 1.25vw;
  background: url('../../assets/images/icons/points.png');
  background-size: 100% 100%;
}

.search {
  width: 1.302vw;
  height: 1.302vw;
  background: url('../../assets/images/icons/search.png');
  background-size: 100% 100%;
}

.gpu {
  width: 1.719vw;
  height: 1.719vw;
  background: url('../../assets/images/icons/gpu.png');
  background-size: 100% 100%;
}

.downturn {
  width: 0.833vw;
  height: 0.833vw;
  background: url('../../assets/images/icons/downturn.png');
  background-size: 100% 100%;
}

.uptrend {
  width: 0.833vw;
  height: 0.833vw;
  background: url('../../assets/images/icons/uptrend.png');
  background-size: 100% 100%;
}

.mac {
  width: 3.646vw;
  height: 4.427vw;
  background: url('../../assets/images/icons/mac.png');
  background-size: 100% 100%;
}

.docker {
  width: 4.479vw;
  height: 3.75vw;
  background: url('../../assets/images/icons/docker.png');
  background-size: 100% 100%;
}

.windows {
  width: 4.427vw;
  height: 4.063vw;
  background: url('../../assets/images/icons/windows.png');
  background-size: 100% 100%;
}

.linux {
  width: 4.115vw;
  height: 4.479vw;
  background: url('../../assets/images/icons/linux.png');
  background-size: 100% 100%;
}

.nvidia {
  width: 1.563vw;
  height: 0.885vw;
  background: url('../../assets/images/icons/nvidia.png');
  background-size: 100% 100%;
}

.menu {
  width: 1.563vw;
  height: 1.563vw;
  background: url('../../assets/images/icons/menu.png');
  background-size: 100% 100%;
}
