.duration-wrapper {
  background: #181818;
  border: none;
  height: 100px;
  display: flex;
  padding: 12px;
  align-items: center;
  .input-group {
    display: flex;
    align-items: center;
    .input {
      border: orange 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .btn {
      border: orange 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-inline: 6px;
      width: 30px;
      height: 30px;
    }
  }
}
