.empty-instance-wrapper {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  height: 100%;
  width: 100%;
  background: #121212;
  .empty-instance-text {
    max-width: 40ch;
    text-align: center;
    font-size: 0.9rem;
    color: #8b8b8b;
    margin-bottom: 20px;
    line-height: 1.5;
  }
}
