#container {
  width: 100vw;
  overflow-x: clip;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  main {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 1088px;
    position: relative;
    z-index: 2;
  }

  .main-wp100 {
    width: 100%;
  }

  .shadow-box-1 {
    width: 226px;
    height: 262px;
    position: absolute;
    right: 10%;
    top: 0;
    background: linear-gradient(158.27deg, #651fff 9.95%, #00bcd4 92.81%);
    opacity: 0.2;
    filter: blur(51.6474px);
    transform: matrix(0.64, 0.77, 0.77, -0.64, 0, 0);
    z-index: 1;
  }

  .shadow-box-2 {
    width: 271px;
    height: 257px;
    position: absolute;
    left: 10%;
    top: 10%;
    background: linear-gradient(166.52deg, #ff4081 -40.26%, #f8bbd0 75.8%);
    mix-blend-mode: normal;
    opacity: 0.2;
    filter: blur(59.8022px);
    border-radius: 22px;
    transform: matrix(0.64, 0.77, 0.77, -0.64, 0, 0);
    z-index: 1;
  }
}

#login-container {
  width: 100vw;
  overflow-x: clip;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    width: 100%;
    padding: 24px 80px;
    padding-right: 0;
    background: rgb(10, 10, 10);
    border-bottom: 1px solid rgb(30, 30, 30);
  }

  .return {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 32px 0 0 80px;
    gap: 10px;

    a {
      font-size: 16px;
      line-height: 24px;
      color: rgb(153, 153, 153);

      svg {
        height: 12px;
      }

      &:hover {
        color: #fff;
      }
    }
  }

  main {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;
    background: rgb(10, 10, 10);
    border-top: 1px solid rgb(30, 30, 30);

    > div {
      gap: 20px;

      > a {
        display: flex;
        align-items: center;
        gap: 20px;

        &::before {
          content: '';
          height: 20px;
          border-left: 1px solid rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

#personal-container {
  width: 100vw;
  overflow-x: clip;
  min-height: 100vh;
}

#explore-container {
  width: 100vw;
  overflow-x: clip;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  main {
    width: 100%;
  }
}

.explore-nodes-container {
  background-image: url('../assets/images/explore/nodes_bg.png');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1280px) {
  #container {
    main {
      width: 924px;
    }
    .main-wp100 {
      width: 100%;
    }
  }
}

@media (max-width: 1280px) {
  #container {
    main {
      width: calc(~'100vw - 40px');
    }
    .main-wp100 {
      width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .explore-nodes-container {
    background-image: none;
  }
}
