#container {
  width: 100vw;
  overflow-x: clip;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  main {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 1088px;
    position: relative;
    z-index: 2;
  }

  .shadow-box-1 {
    width: 226px;
    height: 262px;
    position: absolute;
    right: 10%;
    top: 0;
    background: linear-gradient(158.27deg, #651fff 9.95%, #00bcd4 92.81%);
    opacity: 0.2;
    filter: blur(51.6474px);
    transform: matrix(0.64, 0.77, 0.77, -0.64, 0, 0);
    z-index: 1;
  }

  .shadow-box-2 {
    width: 271px;
    height: 257px;
    position: absolute;
    left: 10%;
    top: 10%;
    background: linear-gradient(166.52deg, #ff4081 -40.26%, #f8bbd0 75.8%);
    mix-blend-mode: normal;
    opacity: 0.2;
    filter: blur(59.8022px);
    border-radius: 22px;
    transform: matrix(0.64, 0.77, 0.77, -0.64, 0, 0);
    z-index: 1;
  }
}

#personal-container {
  width: 100vw;
  overflow-x: clip;
  min-height: 100vh;

  main {
    width: 1088px;
    margin: 0 auto;
  }
}

#explore-container {
  width: 100vw;
  overflow-x: clip;
  min-height: 100vh;

  main {
    width: 1088px;
    margin: 0 auto;
  }
}

@media (max-width: 1280px) {
  #container {
    main {
      width: 924px;
    }
  }

  #personal-container {
    main {
      width: 924px;
    }
  }

  #explore-container {
    main {
      width: 924px;
    }
  }
}

@media (max-width: 1280px) {
  #container {
    main {
      width: calc(~'100vw - 40px');
    }
  }

  #personal-container {
    main {
      width: calc(~'100vw - 40px');
    }
  }

  #explore-container {
    main {
      width: calc(~'100vw - 40px');
    }
  }
}
