.search-input {
  border: none;
  outline-style: none;
  width: 16.602vw;
  height: 2.637vw;
  background: rgba(245, 247, 250, 0.15);
  border-radius: 2.604vw;
  font-size: 0.977vw;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8.192px rgba(0, 0, 0, 0.5), 0 0 0 3.072px transparent;
  padding-left: 0.879vw;

  :global {
    .ant-input-prefix {
      margin-right: 0.488vw;
    }
  }
}
